<template>
  <div
    :class="{ 'position-absolute': absolute }"
    :style="{
      top: top ? `${top}px` : '',
      right: right ? `${right}px` : '',
      bottom: bottom ? `${bottom}px` : '',
      left: left ? `${left}px` : '',
    }"
  >
    <svg
      :width="width"
      :height="height"
      viewBox="0 0 1200 402"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="waves-line__wto"
    >
      <g clip-path="url(#clip0)">
        <path
          d="M257.07 376.907C312.429 361.715 357.883 343.663 410.657 334.642C500.13 319.342 585.159 374.032 724.8 373.003C836.657 372.18 904.8 347.829 942.797 335.156C1015.88 305.405 1149 234 1200.09 186.857V483.335H0.0858154V405.36C45.0001 405.36 148.577 406.68 257.07 376.907Z"
          fill="url(#waves-line__wto0_linear)"
        />
        <path
          d="M543.429 483.429C787.8 401.683 794.773 241.286 942.806 146.431C1013.94 100.861 1129.29 100.286 1198.29 120.858L1200.09 483.335L543.429 483.429Z"
          fill="url(#waves-line__wto1_linear)"
        />
        <path
          d="M0.0858154 402.857C45.0001 402.857 154.714 402.857 237 382.286C312.232 363.48 352.612 343.775 405.382 334.753C494.854 319.453 585.163 374.032 724.792 373.003C836.649 372.18 904.792 347.829 942.789 335.156C1015.88 305.405 1149 234 1200.09 186.857"
          stroke="url(#waves-line__wto2_linear)"
          class="waves-line__wto__stroke"
        />
        <path
          d="M257.07 477.086C586.984 477.086 724.213 250.007 942.784 210.827C1052.99 191.996 1131.24 232.11 1200.09 241.684V483.351H0.0858154V422.602C51.9044 445.222 136.77 477.086 257.07 477.086Z"
          fill="url(#waves-line__wto3_linear)"
        />
        <path
          d="M942.827 146.658H942.785H942.87H942.827Z"
          stroke="url(#waves-line__wto4_linear)"
          class="waves-line__wto__stroke"
        />
        <path
          d="M257.07 394.368C362.992 394.368 509.662 336.511 599.927 330.151C721.586 321.583 819.857 390.001 1042.31 350.765C1112.02 338.473 1200.09 289.715 1200.09 289.715V483.335H0.0858154V414.858C0.0858154 414.858 133.286 394.368 257.07 394.368Z"
          fill="url(#waves-line__wto5_linear)"
        />
        <path
          d="M940.612 211.443L942.707 210.629L942.823 211.057L940.612 211.443ZM258.219 476.87H257.074L257.151 477.299L258.219 476.87Z"
          stroke="url(#waves-line__wto6_linear)"
          class="waves-line__wto__stroke"
        />
        <path
          d="M164.927 0H290.499L502.937 483.446H377.366L164.927 0Z"
          fill="url(#waves-line__wto7_linear)"
        />
        <path
          d="M8.0531 0H70.8388L213.699 316.637H150.913L8.0531 0Z"
          fill="url(#waves-line__wto8_linear)"
        />
        <path
          d="M1004.34 0H1115.89L1187.32 158.319H1075.77L1004.34 0Z"
          fill="url(#waves-line__wto9_linear)"
        />
        <path
          d="M565.213 0H690.784L903.223 483.446L777.6 483.339L565.213 0Z"
          fill="url(#waves-line__wto10_linear)"
        />
        <path
          d="M266.499 0H440.649L653.087 483.446H478.937L266.499 0Z"
          fill="url(#waves-line__wto11_linear)"
        />
        <path
          d="M543.429 483.429C787.8 401.683 794.773 241.286 942.806 146.431C1013.94 100.861 1129.29 100.286 1198.29 120.858"
          stroke="url(#waves-line__wto12_linear)"
          class="waves-line__wto__stroke"
        />
        <path
          d="M543.429 464.063C705.857 394.351 817.659 278.603 967.937 251.667C1078.14 232.836 1156.39 272.95 1225.24 282.524"
          stroke="url(#waves-line__wto13_linear)"
          class="waves-line__wto__stroke"
        />
        <path
          d="M0.0858154 368.572C0.0858154 368.572 133.286 394.368 257.07 394.368C362.992 394.368 509.662 336.511 599.927 330.151C721.586 321.583 819.857 390.001 1042.31 350.765C1112.02 338.473 1200.09 289.715 1200.09 289.715"
          stroke="url(#waves-line__wto14_linear)"
          class="waves-line__wto__stroke"
        />
        <path
          d="M674.499 0H715.65L928.042 483.339L886.62 482.73L674.499 0Z"
          fill="url(#waves-line__wto15_linear)"
        />
      </g>
      <defs>
        <linearGradient
          id="waves-line__wto0_linear"
          x1="586.903"
          y1="310.68"
          x2="625.029"
          y2="381.292"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FF73BF" stop-opacity="0.1" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="waves-line__wto1_linear"
          x1="1.23019e+06"
          y1="192007"
          x2="1.31748e+06"
          y2="377834"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FF738C" stop-opacity="0.1" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="waves-line__wto2_linear"
          x1="0.0858154"
          y1="294.887"
          x2="1200.23"
          y2="294.887"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.11" stop-color="white" stop-opacity="0" />
          <stop offset="0.33" stop-color="white" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="waves-line__wto3_linear"
          x1="1.66771e+06"
          y1="228367"
          x2="1.67929e+06"
          y2="341566"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FF739D" stop-opacity="0.1" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="waves-line__wto5_linear"
          x1="1.62449e+06"
          y1="150696"
          x2="1.62725e+06"
          y2="196804"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FF738C" stop-opacity="0.1" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="waves-line__wto6_linear"
          x1="469.273"
          y1="348.211"
          x2="933.333"
          y2="313.11"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="white" stop-opacity="0" />
          <stop offset="0.92" stop-color="white" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="waves-line__wto7_linear"
          x1="222.285"
          y1="-2.64429"
          x2="464.672"
          y2="247.009"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FF73C7" stop-opacity="0.08" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="waves-line__wto8_linear"
          x1="233946"
          y1="755959"
          x2="234042"
          y2="755868"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FF7395" stop-opacity="0.08" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="waves-line__wto9_linear"
          x1="209685"
          y1="377987"
          x2="209712"
          y2="377941"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FF73B6" stop-opacity="0.08" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="waves-line__wto10_linear"
          x1="3.17487e+08"
          y1="-1.39651e+09"
          x2="3.17746e+08"
          y2="-1.39633e+09"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FF738C" stop-opacity="0.08" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="waves-line__wto11_linear"
          x1="4.12753e+08"
          y1="-1.39651e+09"
          x2="4.13026e+08"
          y2="-1.39626e+09"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FF739D" stop-opacity="0.08" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="waves-line__wto12_linear"
          x1="543.343"
          y1="295.642"
          x2="1198.35"
          y2="295.642"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.17" stop-color="white" stop-opacity="0" />
          <stop offset="0.29" stop-color="white" stop-opacity="0.08" />
          <stop offset="0.54" stop-color="white" stop-opacity="0.29" />
          <stop offset="0.77" stop-color="white" stop-opacity="0.5" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="waves-line__wto13_linear"
          x1="543.343"
          y1="355.377"
          x2="1225.27"
          y2="355.377"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="white" stop-opacity="0" />
          <stop offset="0.12" stop-color="white" stop-opacity="0.08" />
          <stop offset="0.36" stop-color="white" stop-opacity="0.29" />
          <stop offset="0.7" stop-color="white" stop-opacity="0.62" />
          <stop offset="0.77" stop-color="white" stop-opacity="0.7" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="waves-line__wto14_linear"
          x1="0.047244"
          y1="342.056"
          x2="1200.19"
          y2="342.056"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.15" stop-color="white" stop-opacity="0" />
          <stop offset="0.45" stop-color="white" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="waves-line__wto15_linear"
          x1="1.81324e+08"
          y1="-1.3962e+09"
          x2="1.81516e+08"
          y2="-1.39612e+09"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FF739D" stop-opacity="0.08" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <clipPath id="clip0">
          <rect width="1200" height="402" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'WavesLineTwo',
  props: {
    width: {
      type: [Number, String],
      default: 1200,
    },
    height: {
      type: [Number, String],
      default: 402,
    },
    absolute: {
      type: Boolean,
      default: false,
    },
    top: {
      type: String,
      default: '',
    },
    right: {
      type: String,
      default: '',
    },
    bottom: {
      type: String,
      default: '',
    },
    left: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss">
.waves-line {
  &__wto__stroke {
    animation: stroke-width 10s ease-in-out infinite;
    stroke-dasharray: 1235;
    stroke-dashoffset: -1235;
  }
}

@keyframes stroke-width {
  70%,
  100% {
    stroke-dashoffset: 0;
  }

  to {
    opacity: 0;
  }
}
</style>
