$palette: (
  career: var(--accent),
  design: var(--pink),
  development: var(--cyan),
  idea: var(--yellow),
  progress: var(--green),
  contribution: var(--v-info-lighten3),
  other: var(--orange),
);

@each $name, $color in $palette {
  .label {
    &--#{$name} {
      background-color: $color;
    }
  }
}
