//

@mixin headings($from: 1, $to: 6) {
  @for $i from $from through $to {
    h#{$i} {
      @content;
    }
  }
}

@include headings() {
  font-family: var(--heading-font-family);
}

@mixin class-color($cls) {
  .#{$cls} {
    background-color: var(--#{$cls}) !important;
    border-color: var(--#{$cls}) !important;
  }

  .#{$cls}--text {
    color: var(--#{$cls}) !important;
    caret-color: var(--#{$cls}) !important;
  }
}

@mixin shadow-size($size) {
  .shadow-#{$size} {
    box-shadow: var(--shadow-#{$size}) !important;
  }
}

@include class-color(primary);
@include class-color(secondary);
@include class-color(accent);
@include class-color(info);
@include class-color(success);
@include class-color(warning);
@include class-color(error);

@include shadow-size(sm);
@include shadow-size(md);
@include shadow-size(lg);
@include shadow-size(xl);
