<template>
  <svg
    :width="width"
    :height="height"
    viewBox="0 0 435 759"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="fish-construction"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M104.058 564.034L110.243 562.342L123.525 575.624L121.767 581.743L114.736 606.221L79.3174 570.802L104.058 564.034Z"
      fill="#0041E9"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M104.058 564.034L110.243 562.342L123.525 575.624L121.767 581.743L114.736 606.221L79.3174 570.802L104.058 564.034Z"
      fill="url(#paint0_linear)"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M379.311 370.433L370.614 383.264L372.725 457.604L382.125 469.553C382.125 469.553 419.231 521.565 428.829 514.609C443.317 504.109 416.893 457.633 416.317 419.609C415.705 379.117 428.829 340.109 428.829 319.109C428.829 298.109 379.311 370.433 379.311 370.433Z"
      fill="#0041E9"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M379.311 370.433L370.614 383.264L372.725 457.604L382.125 469.553C382.125 469.553 419.231 521.565 428.829 514.609C443.317 504.109 416.893 457.633 416.317 419.609C415.705 379.117 428.829 340.109 428.829 319.109C428.829 298.109 379.311 370.433 379.311 370.433Z"
      fill="url(#paint1_linear)"
    />
    <circle cx="218.317" cy="442.109" r="168" fill="#009DE9" />
    <circle cx="218.317" cy="442.109" r="168" fill="url(#paint2_radial)" />
    <path
      d="M180.032 549.823C153.503 549.823 132.214 529.968 130.367 503.504C130.039 498.794 131.343 496.236 133.585 494.8C135.955 493.282 139.612 492.845 144.385 493.046C148.3 493.211 152.794 493.793 157.684 494.426C158.712 494.559 159.758 494.695 160.82 494.829C166.902 495.598 173.46 496.323 180.032 496.323C186.604 496.323 193.162 495.598 199.245 494.829C200.306 494.695 201.352 494.559 202.381 494.426C207.271 493.793 211.765 493.211 215.68 493.046C220.453 492.845 224.109 493.282 226.48 494.8C228.721 496.236 230.026 498.794 229.697 503.504C227.85 529.968 206.561 549.823 180.032 549.823Z"
      fill="#0184C4"
    />
    <path
      d="M180.032 549.823C153.503 549.823 132.214 529.968 130.367 503.504C130.039 498.794 131.343 496.236 133.585 494.8C135.955 493.282 139.612 492.845 144.385 493.046C148.3 493.211 152.794 493.793 157.684 494.426C158.712 494.559 159.758 494.695 160.82 494.829C166.902 495.598 173.46 496.323 180.032 496.323C186.604 496.323 193.162 495.598 199.245 494.829C200.306 494.695 201.352 494.559 202.381 494.426C207.271 493.793 211.765 493.211 215.68 493.046C220.453 492.845 224.109 493.282 226.48 494.8C228.721 496.236 230.026 498.794 229.697 503.504C227.85 529.968 206.561 549.823 180.032 549.823Z"
      fill="url(#paint3_linear)"
    />
    <path
      d="M180.032 549.823C153.503 549.823 132.214 529.968 130.367 503.504C130.039 498.794 131.343 496.236 133.585 494.8C135.955 493.282 139.612 492.845 144.385 493.046C148.3 493.211 152.794 493.793 157.684 494.426C158.712 494.559 159.758 494.695 160.82 494.829C166.902 495.598 173.46 496.323 180.032 496.323C186.604 496.323 193.162 495.598 199.245 494.829C200.306 494.695 201.352 494.559 202.381 494.426C207.271 493.793 211.765 493.211 215.68 493.046C220.453 492.845 224.109 493.282 226.48 494.8C228.721 496.236 230.026 498.794 229.697 503.504C227.85 529.968 206.561 549.823 180.032 549.823Z"
      stroke="#0184C3"
      stroke-width="2"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M311.757 567.738C311.757 567.738 308.075 566.093 305.572 566.046C298.237 565.909 292.067 571.996 292.29 579.328C292.365 581.813 294.047 585.447 294.047 585.447L301.078 609.925L336.497 574.506L311.757 567.738Z"
      fill="#0041E9"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M311.757 567.738C311.757 567.738 308.075 566.093 305.572 566.046C298.237 565.909 292.067 571.996 292.29 579.328C292.365 581.813 294.047 585.447 294.047 585.447L301.078 609.925L336.497 574.506L311.757 567.738Z"
      fill="url(#paint4_linear)"
    />
    <circle cx="100.317" cy="394" r="66" fill="white" />
    <circle cx="116.317" cy="381" r="45" fill="#3CADD0" />
    <circle cx="116.317" cy="381" r="45" fill="url(#paint5_radial)" />
    <circle
      cx="116.317"
      cy="381"
      r="44.5"
      stroke="#451408"
      stroke-opacity="0.3"
    />
    <circle cx="121.317" cy="371" r="35" fill="#451408" />
    <circle cx="92.3174" cy="355" r="4" fill="white" />
    <circle cx="268.317" cy="393" r="66" fill="white" />
    <circle cx="252.317" cy="380" r="45" fill="#3CADD0" />
    <circle cx="252.317" cy="380" r="45" fill="url(#paint6_radial)" />
    <circle
      cx="252.317"
      cy="380"
      r="44.5"
      stroke="#451408"
      stroke-opacity="0.3"
    />
    <circle cx="246.317" cy="371" r="35" fill="#451408" />
    <circle cx="220.317" cy="355" r="4" fill="white" />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M222.855 237.029C229.317 252.609 232.817 274.609 232.817 274.609C232.817 274.609 221.194 276.306 210.317 282.609C200.561 288.264 189.889 308.936 184.317 310.109C174.817 312.109 186.317 237.029 194.012 212.109C201.019 189.42 217.151 223.279 222.855 237.029Z"
      fill="#0041E9"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M222.855 237.029C229.317 252.609 232.817 274.609 232.817 274.609C232.817 274.609 221.194 276.306 210.317 282.609C200.561 288.264 189.889 308.936 184.317 310.109C174.817 312.109 186.317 237.029 194.012 212.109C201.019 189.42 217.151 223.279 222.855 237.029Z"
      fill="url(#paint7_linear)"
    />
    <path
      d="M178.41 612.5C166.393 612.5 158.36 618.381 153.319 622.071C152.525 622.652 151.806 623.179 151.156 623.619C149.917 624.461 149.089 624.881 148.528 624.953C148.293 624.983 148.16 624.943 148.061 624.883C147.946 624.814 147.772 624.652 147.578 624.264C147.175 623.455 146.843 621.988 146.626 619.538C146.412 617.122 146.317 613.869 146.317 609.574C146.317 604.511 146.428 600.653 146.669 597.768C146.912 594.855 147.281 593.038 147.744 591.989C147.971 591.475 148.187 591.224 148.347 591.105C148.483 591.005 148.628 590.959 148.848 590.977C149.097 590.997 149.443 591.101 149.912 591.345C150.376 591.585 150.906 591.932 151.515 592.378C152.283 592.941 153.147 593.644 154.111 594.427C159.214 598.577 167.112 605 178.41 605C185.148 605 190.841 602.732 195.553 600.033C197.908 598.684 200.026 597.223 201.906 595.879C202.365 595.552 202.806 595.233 203.233 594.925C204.574 593.958 205.764 593.099 206.844 592.417C208.293 591.501 209.356 591.029 210.14 590.978C210.497 590.954 210.772 591.021 211.008 591.161C211.255 591.308 211.532 591.579 211.813 592.077C212.394 593.106 212.881 594.898 213.209 597.798C213.534 600.669 213.695 604.517 213.695 609.574C213.695 614.426 213.551 618.095 213.251 620.809C212.948 623.557 212.497 625.201 211.967 626.103C211.714 626.534 211.474 626.741 211.275 626.842C211.083 626.939 210.841 626.984 210.493 626.933C209.729 626.82 208.688 626.282 207.261 625.308C206.384 624.709 205.408 623.977 204.33 623.168C198.637 618.895 190.118 612.5 178.41 612.5Z"
      fill="#F2D05C"
    />
    <path
      d="M178.41 612.5C166.393 612.5 158.36 618.381 153.319 622.071C152.525 622.652 151.806 623.179 151.156 623.619C149.917 624.461 149.089 624.881 148.528 624.953C148.293 624.983 148.16 624.943 148.061 624.883C147.946 624.814 147.772 624.652 147.578 624.264C147.175 623.455 146.843 621.988 146.626 619.538C146.412 617.122 146.317 613.869 146.317 609.574C146.317 604.511 146.428 600.653 146.669 597.768C146.912 594.855 147.281 593.038 147.744 591.989C147.971 591.475 148.187 591.224 148.347 591.105C148.483 591.005 148.628 590.959 148.848 590.977C149.097 590.997 149.443 591.101 149.912 591.345C150.376 591.585 150.906 591.932 151.515 592.378C152.283 592.941 153.147 593.644 154.111 594.427C159.214 598.577 167.112 605 178.41 605C185.148 605 190.841 602.732 195.553 600.033C197.908 598.684 200.026 597.223 201.906 595.879C202.365 595.552 202.806 595.233 203.233 594.925C204.574 593.958 205.764 593.099 206.844 592.417C208.293 591.501 209.356 591.029 210.14 590.978C210.497 590.954 210.772 591.021 211.008 591.161C211.255 591.308 211.532 591.579 211.813 592.077C212.394 593.106 212.881 594.898 213.209 597.798C213.534 600.669 213.695 604.517 213.695 609.574C213.695 614.426 213.551 618.095 213.251 620.809C212.948 623.557 212.497 625.201 211.967 626.103C211.714 626.534 211.474 626.741 211.275 626.842C211.083 626.939 210.841 626.984 210.493 626.933C209.729 626.82 208.688 626.282 207.261 625.308C206.384 624.709 205.408 623.977 204.33 623.168C198.637 618.895 190.118 612.5 178.41 612.5Z"
      fill="url(#paint8_linear)"
    />
    <path
      d="M178.41 612.5C166.393 612.5 158.36 618.381 153.319 622.071C152.525 622.652 151.806 623.179 151.156 623.619C149.917 624.461 149.089 624.881 148.528 624.953C148.293 624.983 148.16 624.943 148.061 624.883C147.946 624.814 147.772 624.652 147.578 624.264C147.175 623.455 146.843 621.988 146.626 619.538C146.412 617.122 146.317 613.869 146.317 609.574C146.317 604.511 146.428 600.653 146.669 597.768C146.912 594.855 147.281 593.038 147.744 591.989C147.971 591.475 148.187 591.224 148.347 591.105C148.483 591.005 148.628 590.959 148.848 590.977C149.097 590.997 149.443 591.101 149.912 591.345C150.376 591.585 150.906 591.932 151.515 592.378C152.283 592.941 153.147 593.644 154.111 594.427C159.214 598.577 167.112 605 178.41 605C185.148 605 190.841 602.732 195.553 600.033C197.908 598.684 200.026 597.223 201.906 595.879C202.365 595.552 202.806 595.233 203.233 594.925C204.574 593.958 205.764 593.099 206.844 592.417C208.293 591.501 209.356 591.029 210.14 590.978C210.497 590.954 210.772 591.021 211.008 591.161C211.255 591.308 211.532 591.579 211.813 592.077C212.394 593.106 212.881 594.898 213.209 597.798C213.534 600.669 213.695 604.517 213.695 609.574C213.695 614.426 213.551 618.095 213.251 620.809C212.948 623.557 212.497 625.201 211.967 626.103C211.714 626.534 211.474 626.741 211.275 626.842C211.083 626.939 210.841 626.984 210.493 626.933C209.729 626.82 208.688 626.282 207.261 625.308C206.384 624.709 205.408 623.977 204.33 623.168C198.637 618.895 190.118 612.5 178.41 612.5Z"
      stroke="#F2D05C"
      stroke-width="2"
    />
    <rect x="169.695" y="602" width="16" height="13" rx="4" fill="#F4DA7E" />
    <rect
      width="228"
      height="179"
      transform="matrix(0.97237 0.233445 -0.707107 0.707107 170.889 184)"
      fill="#F54D18"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M283.518 377.538L337.318 323.5C337.318 323.5 332.539 318.831 329.318 316C326.096 313.169 320.818 309 320.818 309L98.8175 324C98.8175 324 96.5985 326.121 95.8175 327C95.0364 327.879 94.8174 328 94.8174 328C94.8174 328 90.4654 328.589 88.3174 329C86.3644 329.374 84.3174 330 84.3174 330L283.518 377.538Z"
      fill="#451408"
      fill-opacity="0.3"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M300.839 680.831L169.317 655L133.294 682.78C72.4256 687.838 31.3174 697.461 31.3174 708.5C31.3174 720.397 79.0621 730.649 147.831 735.315L265.399 758.405L293.76 736.534C373.638 732.665 431.317 721.576 431.317 708.5C431.317 702.515 419.235 696.947 398.472 692.296C397.828 691.394 397.459 690.493 397.497 689.608C397.689 685.19 402.658 680.756 406.794 677.066C409.661 674.508 412.127 672.308 412.326 670.717C412.812 666.83 361.653 681.362 361.653 681.362L352.665 683.938L352.696 685.052C337.064 683.289 319.617 681.858 300.839 680.831Z"
      fill="#C4C4C4"
      fill-opacity="0.4"
    />
    <rect
      width="228"
      height="179"
      transform="matrix(0.97237 0.233445 -0.707107 0.707107 170.889 168)"
      fill="#F18122"
    />
    <rect
      width="228"
      height="179"
      transform="matrix(0.97237 0.233445 -0.707107 0.707107 170.889 168)"
      fill="url(#paint9_linear)"
    />
    <path
      d="M266.008 363.31V347.81L44.8174 295V310.5L266.008 363.31Z"
      fill="#E27619"
    />
    <path
      d="M266.008 347.81V363.31L392.008 237.31V222.31L266.008 347.81Z"
      fill="#E27619"
    />
    <path
      d="M266.008 347.81V363.31M266.008 347.81L392.008 222.31V237.31L266.008 363.31M266.008 347.81L44.8174 295V310.5L266.008 363.31"
      stroke="#E27619"
    />
    <ellipse
      cx="208.048"
      cy="252.393"
      rx="91"
      ry="47"
      transform="rotate(-8.12742 208.048 252.393)"
      fill="#D6701B"
    />
    <path
      d="M73.11 52.8758L119.554 270.608C119.554 270.608 123.724 290.327 154.239 290.151C184.755 289.974 209.64 272.338 209.64 272.338C209.64 272.338 253.206 248.205 270.028 210.545C283.646 180.058 265.191 167.398 265.191 167.398L73.11 52.8758Z"
      fill="#E27619"
    />
    <path
      d="M73.11 52.8758L119.554 270.608C119.554 270.608 123.724 290.327 154.239 290.151C184.755 289.974 209.64 272.338 209.64 272.338C209.64 272.338 253.206 248.205 270.028 210.545C283.646 180.058 265.191 167.398 265.191 167.398L73.11 52.8758Z"
      fill="url(#paint10_linear)"
    />
    <path
      d="M73.11 52.8758L119.554 270.608C119.554 270.608 123.724 290.327 154.239 290.151C184.755 289.974 209.64 272.338 209.64 272.338C209.64 272.338 253.206 248.205 270.028 210.545C283.646 180.058 265.191 167.398 265.191 167.398L73.11 52.8758Z"
      stroke="#E27619"
    />
    <path
      d="M73.11 52.8758L119.554 270.608C119.554 270.608 123.724 290.327 154.239 290.151C184.755 289.974 209.64 272.338 209.64 272.338C209.64 272.338 253.206 248.205 270.028 210.545C283.646 180.058 265.191 167.398 265.191 167.398L73.11 52.8758Z"
      stroke="url(#paint11_linear)"
    />
    <path
      d="M73.11 52.8755L119.554 270.607C119.554 270.607 123.724 290.327 154.239 290.15C184.755 289.974 209.64 272.338 209.64 272.338C209.64 272.338 253.206 248.205 270.028 210.545C283.646 180.058 265.191 167.398 265.191 167.398L73.11 52.8755Z"
      fill="#E27619"
    />
    <path
      d="M73.11 52.8755L119.554 270.607C119.554 270.607 123.724 290.327 154.239 290.15C184.755 289.974 209.64 272.338 209.64 272.338C209.64 272.338 253.206 248.205 270.028 210.545C283.646 180.058 265.191 167.398 265.191 167.398L73.11 52.8755Z"
      fill="url(#paint12_linear)"
    />
    <path
      d="M73.11 52.8755L119.554 270.607C119.554 270.607 123.724 290.327 154.239 290.15C184.755 289.974 209.64 272.338 209.64 272.338C209.64 272.338 253.206 248.205 270.028 210.545C283.646 180.058 265.191 167.398 265.191 167.398L73.11 52.8755Z"
      stroke="#E27619"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M159.818 104.203L127.607 85.0001C127.007 88.2396 125.334 91.8282 122.715 95.4451C119.375 100.056 114.672 104.472 109.29 108.05C103.908 111.628 98.1289 114.18 92.7944 115.336C90.4812 115.837 88.3039 116.064 86.3175 116.02L93.5889 151.5C93.5889 151.5 124.89 146.944 139.318 134.5C150.136 125.17 159.818 104.203 159.818 104.203Z"
      fill="white"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M159.818 104.203L127.607 85.0001C127.007 88.2396 125.334 91.8282 122.715 95.4451C119.375 100.056 114.672 104.472 109.29 108.05C103.908 111.628 98.1289 114.18 92.7944 115.336C90.4812 115.837 88.3039 116.064 86.3175 116.02L93.5889 151.5C93.5889 151.5 124.89 146.944 139.318 134.5C150.136 125.17 159.818 104.203 159.818 104.203Z"
      fill="white"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M159.818 104.203L127.607 85.0001C127.007 88.2396 125.334 91.8282 122.715 95.4451C119.375 100.056 114.672 104.472 109.29 108.05C103.908 111.628 98.1289 114.18 92.7944 115.336C90.4812 115.837 88.3039 116.064 86.3175 116.02L93.5889 151.5C93.5889 151.5 124.89 146.944 139.318 134.5C150.136 125.17 159.818 104.203 159.818 104.203Z"
      fill="url(#paint13_linear)"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M240.818 151.5C240.818 151.5 223.818 189.5 196.818 216C171.07 241.271 115.318 251 115.318 251L105.318 207.5L129.818 202C129.818 202 152.41 195.605 164.318 187C175.71 178.768 181.421 172.506 188.557 160.397C193.989 151.179 197.631 145.627 199.818 135C200.335 132.485 200.817 128.5 200.817 128.5L240.818 151.5Z"
      fill="white"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M240.818 151.5C240.818 151.5 223.818 189.5 196.818 216C171.07 241.271 115.318 251 115.318 251L105.318 207.5L129.818 202C129.818 202 152.41 195.605 164.318 187C175.71 178.768 181.421 172.506 188.557 160.397C193.989 151.179 197.631 145.627 199.818 135C200.335 132.485 200.817 128.5 200.817 128.5L240.818 151.5Z"
      fill="white"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M240.818 151.5C240.818 151.5 223.818 189.5 196.818 216C171.07 241.271 115.318 251 115.318 251L105.318 207.5L129.818 202C129.818 202 152.41 195.605 164.318 187C175.71 178.768 181.421 172.506 188.557 160.397C193.989 151.179 197.631 145.627 199.818 135C200.335 132.485 200.817 128.5 200.817 128.5L240.818 151.5Z"
      fill="url(#paint14_linear)"
    />
    <defs>
      <linearGradient
        id="paint0_linear"
        x1="109.42"
        y1="564.873"
        x2="83.8341"
        y2="594.161"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.291647" stop-color="#0041E9" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint1_linear"
        x1="376.317"
        y1="449.5"
        x2="442.317"
        y2="342"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#0041E9" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <radialGradient
        id="paint2_radial"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(156.817 363) rotate(63.0478) scale(264.756)"
      >
        <stop offset="0.821385" stop-color="#009DE9" />
        <stop offset="1" stop-color="#007EBB" stop-opacity="0.65" />
      </radialGradient>
      <linearGradient
        id="paint3_linear"
        x1="166.817"
        y1="531.391"
        x2="165.555"
        y2="551.949"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#056A9A" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint4_linear"
        x1="308.817"
        y1="566"
        x2="332.128"
        y2="598.946"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.291647" stop-color="#0041E9" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <radialGradient
        id="paint5_radial"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(116.317 381) rotate(90) scale(45)"
      >
        <stop stop-color="white" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </radialGradient>
      <radialGradient
        id="paint6_radial"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(252.317 380) rotate(90) scale(45)"
      >
        <stop stop-color="white" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </radialGradient>
      <linearGradient
        id="paint7_linear"
        x1="229.372"
        y1="241.525"
        x2="157.502"
        y2="243.711"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.291647" stop-color="#0041E9" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint8_linear"
        x1="165.195"
        y1="637.391"
        x2="163.933"
        y2="657.949"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F2D05C" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint9_linear"
        x1="2.84277"
        y1="103.006"
        x2="110.132"
        y2="-33.0536"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#D6701B" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint10_linear"
        x1="160.869"
        y1="289.129"
        x2="156.554"
        y2="152.463"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FB7300" />
        <stop offset="1" stop-color="#F2D4BB" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint11_linear"
        x1="160.869"
        y1="289.129"
        x2="168.918"
        y2="172.504"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#E27619" />
        <stop offset="1" stop-color="#F2D4BB" stop-opacity="0.22" />
      </linearGradient>
      <linearGradient
        id="paint12_linear"
        x1="115.5"
        y1="166"
        x2="165.5"
        y2="116"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#E27619" />
        <stop offset="1" stop-color="#F2D4BB" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint13_linear"
        x1="102"
        y1="162"
        x2="143.242"
        y2="100.364"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#451408" stop-opacity="0.3" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint14_linear"
        x1="111.5"
        y1="235"
        x2="213.5"
        y2="154.5"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#451408" stop-opacity="0.3" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </linearGradient>
    </defs>
  </svg>
</template>

<script>
export default {
  name: 'FishConstruction',
  props: {
    width: {
      type: [Number, String],
      default: 435,
    },
    height: {
      type: [Number, String],
      default: 759,
    },
  },
}
</script>
