.v-application
  background transparent
  font-family var(--body-font-family) !important

.v-main
  &__wrap
    background radial-gradient(var(--sheet) 6%, transparent 6%), var(--back)
    background-color var(--back)
    background-position 0 0, 1.75em 1.75em
    background-size 1.75em 1.75em
