<template>
  <div
    v-if="loading"
    class="content-load"
    :style="{
      backgroundColor: $vuetify.theme.dark ? 'var(--black)' : 'var(--light)',
    }"
  >
    <h2
      class="text-h6 text-sm-h3 text-lg-h2 text-center content-load__text"
      :style="{
        color: $vuetify.theme.dark ? 'var(--light)' : 'var(--dark)',
      }"
    >
      {{ $t('app.loading') }}
      <span>.</span>
      <span>.</span>
      <span>.</span>
    </h2>
    <svg
      width="60vw"
      viewBox="0 0 1609 526"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      class="content-load__image"
    >
      <path
        class="fipll"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M330.339 360.034L324.154 358.342L310.872 371.624L312.629 377.743C312.629 377.743 312.437 395.384 319.66 402.221C333.867 415.668 368.644 380.896 355.079 366.802C348.133 359.585 330.339 360.034 330.339 360.034Z"
        fill="#90D8FB"
      />
      <path
        class="fipll"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M330.339 360.034L324.154 358.342L310.872 371.624L312.629 377.743C312.629 377.743 312.437 395.384 319.66 402.221C333.867 415.668 368.644 380.896 355.079 366.802C348.133 359.585 330.339 360.034 330.339 360.034Z"
        fill="url(#loading0_linear)"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M55.086 166.433L63.783 179.264L61.6722 253.604L52.2716 265.553C52.2716 265.553 15.1659 317.565 5.56801 310.609C-8.92064 300.109 17.5041 253.633 18.0793 215.609C18.6919 175.117 5.56802 136.109 5.56802 115.109C5.56802 94.1091 55.086 166.433 55.086 166.433Z"
        fill="#90D8FB"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M55.086 166.433L63.783 179.264L61.6722 253.604L52.2716 265.553C52.2716 265.553 15.1659 317.565 5.56801 310.609C-8.92064 300.109 17.5041 253.633 18.0793 215.609C18.6919 175.117 5.56802 136.109 5.56802 115.109C5.56802 94.1091 55.086 166.433 55.086 166.433Z"
        fill="url(#loading1_linear)"
      />
      <circle
        r="168"
        transform="matrix(-1 0 0 1 216.079 238.109)"
        fill="#43C1FF"
      />
      <circle
        r="168"
        transform="matrix(-1 0 0 1 216.079 238.109)"
        fill="url(#loading2_radial)"
      />
      <path
        class="fiplr"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M122.64 363.738C122.64 363.738 126.321 362.093 128.825 362.046C136.159 361.909 142.329 367.996 142.107 375.328C142.032 377.813 140.349 381.447 140.349 381.447C140.349 381.447 140.541 399.088 133.318 405.925C119.112 419.372 84.3343 384.6 97.8993 370.506C104.846 363.289 122.64 363.738 122.64 363.738Z"
        fill="#90D8FB"
      />
      <path
        class="fiplr"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M122.64 363.738C122.64 363.738 126.321 362.093 128.825 362.046C136.159 361.909 142.329 367.996 142.107 375.328C142.032 377.813 140.349 381.447 140.349 381.447C140.349 381.447 140.541 399.088 133.318 405.925C119.112 419.372 84.3343 384.6 97.8993 370.506C104.846 363.289 122.64 363.738 122.64 363.738Z"
        fill="url(#loading3_linear)"
      />
      <circle r="66" transform="matrix(-1 0 0 1 334.079 190)" fill="#FFFFFF" />
      <circle r="45" transform="matrix(-1 0 0 1 351 189)" fill="#90D8FB" />
      <circle
        r="45"
        transform="matrix(-1 0 0 1 351 189)"
        fill="url(#loading4_radial)"
      />
      <circle
        r="44.5"
        transform="matrix(-1 0 0 1 351 189)"
        stroke="#451408"
        stroke-opacity="0.3"
      />
      <circle
        r="33.5"
        transform="matrix(-1 0 0 1 357.5 189.5)"
        fill="#465038"
      />
      <circle r="8" transform="matrix(-1 0 0 1 340 163)" fill="#FFFFFF" />
      <path
        opacity="0.4"
        d="M148.88 111.681C148.88 111.681 194.904 95.1232 189.458 85.6899C183.039 74.5723 145.448 107.744 145.448 107.744C145.448 107.744 98.8663 123.169 105.285 134.287C111.443 144.953 148.88 111.681 148.88 111.681Z"
        fill="#B8B8B8"
        fill-opacity="0.4"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M108 136C107.12 136.799 105.786 137.818 105 138.657L120.446 142.033C130.497 131.308 144.879 124.805 159.5 123.288C174.121 121.772 189.151 125.5 201 133C201 133 200.364 130.5 199 129C197.636 127.5 195 123.788 188 121.788C176.723 118.566 169.907 117.603 158.191 118.14C139.016 119.02 119.943 126.435 108.5 135.5L119 138L118.5 138.657L108 136Z"
        fill="#0184C3"
      />
      <circle r="66" transform="matrix(-1 0 0 1 166.079 189)" fill="#FFFFFF" />
      <circle r="45" transform="matrix(-1 0 0 1 184 189)" fill="#90D8FB" />
      <circle
        r="45"
        transform="matrix(-1 0 0 1 184 189)"
        fill="url(#loading5_radial)"
      />
      <circle
        r="44.5"
        transform="matrix(-1 0 0 1 184 189)"
        stroke="#451408"
        stroke-opacity="0.3"
      />
      <circle
        r="33.5"
        transform="matrix(-1 0 0 1 190.5 189.5)"
        fill="#465038"
      />
      <circle r="8" transform="matrix(-1 0 0 1 172 163)" fill="#FFFFFF" />
      <path
        d="M395.722 139.868C384.858 128.276 364.772 120.373 342.531 119.352C330.815 118.815 323.999 119.778 312.722 123C305.722 125 300.586 129.5 299.222 131C297.859 132.5 298.5 134.5 298.5 134.5C310.349 127 326.602 122.984 341.222 124.5C355.843 126.016 370.225 132.52 380.277 143.245L395.722 139.868Z"
        fill="#0184C3"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M211.542 33.0286C205.079 48.6092 201.579 70.6092 201.579 70.6092C201.579 70.6092 213.203 72.3058 224.079 78.6092C233.836 84.2636 244.507 104.936 250.079 106.109C259.579 108.109 248.079 33.0287 240.384 8.10901C233.378 -14.5801 217.245 19.2791 211.542 33.0286Z"
        fill="#90D8FB"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M211.542 33.0286C205.079 48.6092 201.579 70.6092 201.579 70.6092C201.579 70.6092 213.203 72.3058 224.079 78.6092C233.836 84.2636 244.507 104.936 250.079 106.109C259.579 108.109 248.079 33.0287 240.384 8.10901C233.378 -14.5801 217.245 19.2791 211.542 33.0286Z"
        fill="url(#loading6_linear)"
      />
      <path
        d="M254.364 345.933C280.893 345.933 302.182 326.078 304.029 299.613C304.358 294.903 303.053 292.345 300.812 290.909C298.442 289.391 294.785 288.954 290.012 289.155C286.097 289.321 281.603 289.902 276.713 290.536C275.684 290.669 274.639 290.804 273.577 290.938C267.494 291.708 260.937 292.433 254.364 292.433C247.792 292.433 241.235 291.708 235.152 290.938C234.09 290.804 233.044 290.669 232.016 290.536C227.126 289.902 222.632 289.321 218.717 289.155C213.944 288.954 210.287 289.391 207.917 290.909C205.676 292.345 204.371 294.903 204.7 299.613C206.547 326.078 227.836 345.933 254.364 345.933Z"
        fill="#90D8FB"
      />
      <path
        d="M254.364 345.933C280.893 345.933 302.182 326.078 304.029 299.613C304.358 294.903 303.053 292.345 300.812 290.909C298.442 289.391 294.785 288.954 290.012 289.155C286.097 289.321 281.603 289.902 276.713 290.536C275.684 290.669 274.639 290.804 273.577 290.938C267.494 291.708 260.937 292.433 254.364 292.433C247.792 292.433 241.235 291.708 235.152 290.938C234.09 290.804 233.044 290.669 232.016 290.536C227.126 289.902 222.632 289.321 218.717 289.155C213.944 288.954 210.287 289.391 207.917 290.909C205.676 292.345 204.371 294.903 204.7 299.613C206.547 326.078 227.836 345.933 254.364 345.933Z"
        fill="url(#loading7_linear)"
      />
      <path
        d="M254.364 345.933C280.893 345.933 302.182 326.078 304.029 299.613C304.358 294.903 303.053 292.345 300.812 290.909C298.442 289.391 294.785 288.954 290.012 289.155C286.097 289.321 281.603 289.902 276.713 290.536C275.684 290.669 274.639 290.804 273.577 290.938C267.494 291.708 260.937 292.433 254.364 292.433C247.792 292.433 241.235 291.708 235.152 290.938C234.09 290.804 233.044 290.669 232.016 290.536C227.126 289.902 222.632 289.321 218.717 289.155C213.944 288.954 210.287 289.391 207.917 290.909C205.676 292.345 204.371 294.903 204.7 299.613C206.547 326.078 227.836 345.933 254.364 345.933Z"
        stroke="#90D8FB"
        stroke-width="2"
      />
      <path
        d="M141.689 93.6708L141.69 93.6705L142.149 91.7831L144.045 92.2037L144.046 92.2038L144.046 92.204L144.053 92.2053L144.082 92.2118C144.11 92.2177 144.152 92.2268 144.208 92.2387C144.321 92.2625 144.491 92.2978 144.714 92.3423C145.159 92.4311 145.814 92.5565 146.64 92.6999C148.295 92.9868 150.631 93.3447 153.349 93.6271C158.82 94.1954 165.693 94.4411 171.642 93.2659C177.652 92.0789 182.153 89.5712 183.862 85.1146C185.608 80.5639 184.79 73.1472 177.938 61.2801C169.824 47.2264 162.976 41.5304 157.595 40.1898C152.469 38.9128 147.958 41.4691 143.955 46.2377C139.964 50.9922 136.876 57.5236 134.77 62.9793C133.725 65.6869 132.937 68.0888 132.411 69.8116C132.149 70.6723 131.952 71.3619 131.821 71.8334C131.756 72.0691 131.708 72.2501 131.676 72.3707C131.66 72.431 131.648 72.4761 131.64 72.5053L131.632 72.5372L131.631 72.5441L131.63 72.5447L131.63 72.5452L131.124 74.544L129.147 73.9605L129.146 73.9603L129.146 73.9602L129.139 73.9582L129.108 73.9491C129.079 73.9408 129.035 73.9281 128.976 73.9113C128.857 73.8776 128.679 73.8277 128.445 73.7644C127.979 73.6378 127.293 73.4578 126.429 73.2478C124.7 72.8273 122.263 72.288 119.44 71.8143C113.749 70.8596 106.67 70.2039 100.68 71.2166C94.6776 72.2313 90.3426 74.7877 88.9662 79.7948C87.5134 85.0805 89.0828 93.8334 97.2007 107.894C104.987 121.38 111.526 126.543 116.6 127.528C121.454 128.471 125.821 125.692 129.731 120.647C133.603 115.654 136.598 108.95 138.64 103.391C139.654 100.631 140.419 98.1907 140.93 96.4429C141.185 95.5695 141.376 94.8706 141.503 94.3927C141.567 94.1538 141.614 93.9703 141.645 93.848C141.661 93.7869 141.672 93.7411 141.679 93.7113L141.688 93.6787L141.689 93.6717L141.689 93.6708Z"
        fill="#FFB8B8"
      />
      <path
        d="M141.689 93.6708L141.69 93.6705L142.149 91.7831L144.045 92.2037L144.046 92.2038L144.046 92.204L144.053 92.2053L144.082 92.2118C144.11 92.2177 144.152 92.2268 144.208 92.2387C144.321 92.2625 144.491 92.2978 144.714 92.3423C145.159 92.4311 145.814 92.5565 146.64 92.6999C148.295 92.9868 150.631 93.3447 153.349 93.6271C158.82 94.1954 165.693 94.4411 171.642 93.2659C177.652 92.0789 182.153 89.5712 183.862 85.1146C185.608 80.5639 184.79 73.1472 177.938 61.2801C169.824 47.2264 162.976 41.5304 157.595 40.1898C152.469 38.9128 147.958 41.4691 143.955 46.2377C139.964 50.9922 136.876 57.5236 134.77 62.9793C133.725 65.6869 132.937 68.0888 132.411 69.8116C132.149 70.6723 131.952 71.3619 131.821 71.8334C131.756 72.0691 131.708 72.2501 131.676 72.3707C131.66 72.431 131.648 72.4761 131.64 72.5053L131.632 72.5372L131.631 72.5441L131.63 72.5447L131.63 72.5452L131.124 74.544L129.147 73.9605L129.146 73.9603L129.146 73.9602L129.139 73.9582L129.108 73.9491C129.079 73.9408 129.035 73.9281 128.976 73.9113C128.857 73.8776 128.679 73.8277 128.445 73.7644C127.979 73.6378 127.293 73.4578 126.429 73.2478C124.7 72.8273 122.263 72.288 119.44 71.8143C113.749 70.8596 106.67 70.2039 100.68 71.2166C94.6776 72.2313 90.3426 74.7877 88.9662 79.7948C87.5134 85.0805 89.0828 93.8334 97.2007 107.894C104.987 121.38 111.526 126.543 116.6 127.528C121.454 128.471 125.821 125.692 129.731 120.647C133.603 115.654 136.598 108.95 138.64 103.391C139.654 100.631 140.419 98.1907 140.93 96.4429C141.185 95.5695 141.376 94.8706 141.503 94.3927C141.567 94.1538 141.614 93.9703 141.645 93.848C141.661 93.7869 141.672 93.7411 141.679 93.7113L141.688 93.6787L141.689 93.6717L141.689 93.6708Z"
        fill="url(#loading8_linear)"
      />
      <path
        d="M141.689 93.6708L141.69 93.6705L142.149 91.7831L144.045 92.2037L144.046 92.2038L144.046 92.204L144.053 92.2053L144.082 92.2118C144.11 92.2177 144.152 92.2268 144.208 92.2387C144.321 92.2625 144.491 92.2978 144.714 92.3423C145.159 92.4311 145.814 92.5565 146.64 92.6999C148.295 92.9868 150.631 93.3447 153.349 93.6271C158.82 94.1954 165.693 94.4411 171.642 93.2659C177.652 92.0789 182.153 89.5712 183.862 85.1146C185.608 80.5639 184.79 73.1472 177.938 61.2801C169.824 47.2264 162.976 41.5304 157.595 40.1898C152.469 38.9128 147.958 41.4691 143.955 46.2377C139.964 50.9922 136.876 57.5236 134.77 62.9793C133.725 65.6869 132.937 68.0888 132.411 69.8116C132.149 70.6723 131.952 71.3619 131.821 71.8334C131.756 72.0691 131.708 72.2501 131.676 72.3707C131.66 72.431 131.648 72.4761 131.64 72.5053L131.632 72.5372L131.631 72.5441L131.63 72.5447L131.63 72.5452L131.124 74.544L129.147 73.9605L129.146 73.9603L129.146 73.9602L129.139 73.9582L129.108 73.9491C129.079 73.9408 129.035 73.9281 128.976 73.9113C128.857 73.8776 128.679 73.8277 128.445 73.7644C127.979 73.6378 127.293 73.4578 126.429 73.2478C124.7 72.8273 122.263 72.288 119.44 71.8143C113.749 70.8596 106.67 70.2039 100.68 71.2166C94.6776 72.2313 90.3426 74.7877 88.9662 79.7948C87.5134 85.0805 89.0828 93.8334 97.2007 107.894C104.987 121.38 111.526 126.543 116.6 127.528C121.454 128.471 125.821 125.692 129.731 120.647C133.603 115.654 136.598 108.95 138.64 103.391C139.654 100.631 140.419 98.1907 140.93 96.4429C141.185 95.5695 141.376 94.8706 141.503 94.3927C141.567 94.1538 141.614 93.9703 141.645 93.848C141.661 93.7869 141.672 93.7411 141.679 93.7113L141.688 93.6787L141.689 93.6717L141.689 93.6708Z"
        stroke="#FFB8B8"
        stroke-width="3.96639"
      />
      <path
        d="M138.782 87.6048C138.782 87.6048 167.079 95.3104 154.003 72.6611C138.591 45.9676 132.255 77.1622 132.255 77.1622C132.255 77.1622 102.476 66.8186 117.887 93.5121C132.673 119.122 138.782 87.6048 138.782 87.6048Z"
        fill="#F4B0B0"
      />
      <rect
        width="21.367"
        height="36.4002"
        rx="7.93277"
        transform="matrix(-0.866025 0.5 0.5 0.866025 136.504 60.9996)"
        fill="#FFAFAF"
      />
      <g opacity="0.4">
        <ellipse
          rx="200"
          ry="29.5"
          transform="matrix(-1 0 0 1 200.079 491.5)"
          fill="#C4C4C4"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M78.9598 481.948L88.0175 479.628L88.0175 465.911L78.9598 463.659C78.9598 463.659 43.3452 453.875 33.5538 455.107C18.7729 456.967 43.868 465.674 43.3638 472.688C42.8269 480.156 28.6012 487.279 28.0051 491.151C27.4091 495.023 78.9598 481.948 78.9598 481.948Z"
          fill="#C4C4C4"
        />
        <path
          d="M137.195 519.369C137.195 519.369 184.806 530.572 185.381 519.694C186.059 506.875 136.462 514.198 136.462 514.198C136.462 514.198 89.001 501.741 88.323 514.561C87.6725 526.86 137.195 519.369 137.195 519.369Z"
          fill="#C4C4C4"
        />
      </g>
      <g class="bubble">
        <circle
          r="66"
          transform="matrix(-1 0 0 1 804 212)"
          fill="#FFFFFF"
          fill-opacity="0.4"
        />
        <circle
          r="66"
          transform="matrix(-1 0 0 1 804 212)"
          fill="url(#loading9_linear)"
        />
        <circle
          r="66"
          transform="matrix(-1 0 0 1 804 212)"
          fill="url(#loading10_linear)"
        />
        <ellipse
          cx="773.201"
          cy="185.902"
          rx="12.5"
          ry="16.6974"
          transform="rotate(32.5824 773.201 185.902)"
          fill="#FFFFFF"
          fill-opacity="0.5"
        />
      </g>
      <ellipse
        class="bubble-shadow"
        rx="84"
        ry="21"
        transform="translate(804,500)"
        fill="#C4C4C4"
        fill-opacity="0.4"
      />
      <path
        class="msplr"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1277.82 360.034L1284.01 358.342L1297.29 371.624L1295.53 377.743L1288.5 402.221L1253.08 366.802L1277.82 360.034Z"
        fill="#0041E9"
      />
      <path
        class="msplr"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1277.82 360.034L1284.01 358.342L1297.29 371.624L1295.53 377.743L1288.5 402.221L1253.08 366.802L1277.82 360.034Z"
        fill="url(#loading11_linear)"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1553.07 166.433L1544.38 179.264L1546.49 253.604L1555.89 265.553C1555.89 265.553 1592.99 317.565 1602.59 310.609C1617.08 300.109 1590.65 253.633 1590.08 215.609C1589.47 175.117 1602.59 136.109 1602.59 115.109C1602.59 94.1091 1553.07 166.433 1553.07 166.433Z"
        fill="#0041E9"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1553.07 166.433L1544.38 179.264L1546.49 253.604L1555.89 265.553C1555.89 265.553 1592.99 317.565 1602.59 310.609C1617.08 300.109 1590.65 253.633 1590.08 215.609C1589.47 175.117 1602.59 136.109 1602.59 115.109C1602.59 94.1091 1553.07 166.433 1553.07 166.433Z"
        fill="url(#loading12_linear)"
      />
      <circle cx="1392.08" cy="238.109" r="168" fill="#009DE9" />
      <circle cx="1392.08" cy="238.109" r="168" fill="url(#loading13_radial)" />
      <path
        d="M1352.17 408.527C1340.15 408.527 1332.12 414.408 1327.08 418.097C1326.29 418.679 1325.57 419.205 1324.92 419.646C1323.68 420.488 1322.85 420.908 1322.29 420.98C1322.05 421.01 1321.92 420.97 1321.82 420.91C1321.71 420.841 1321.53 420.679 1321.34 420.291C1320.94 419.482 1320.6 418.015 1320.39 415.565C1320.17 413.149 1320.08 409.895 1320.08 405.6C1320.08 400.538 1320.19 396.68 1320.43 393.795C1320.67 390.882 1321.04 389.065 1321.51 388.016C1321.73 387.502 1321.95 387.251 1322.11 387.132C1322.25 387.032 1322.39 386.986 1322.61 387.004C1322.86 387.024 1323.2 387.128 1323.67 387.372C1324.14 387.612 1324.67 387.959 1325.28 388.405C1326.05 388.968 1326.91 389.671 1327.87 390.454C1332.98 394.604 1340.87 401.027 1352.17 401.027C1358.91 401.027 1364.6 398.759 1369.32 396.06C1371.67 394.711 1373.79 393.249 1375.67 391.906C1376.13 391.578 1376.57 391.26 1376.99 390.952C1378.34 389.985 1379.53 389.126 1380.61 388.444C1382.05 387.528 1383.12 387.056 1383.9 387.005C1384.26 386.981 1384.53 387.047 1384.77 387.188C1385.02 387.335 1385.29 387.606 1385.58 388.104C1386.16 389.133 1386.64 390.925 1386.97 393.825C1387.3 396.696 1387.46 400.544 1387.46 405.6C1387.46 410.453 1387.31 414.121 1387.01 416.836C1386.71 419.584 1386.26 421.227 1385.73 422.13C1385.48 422.561 1385.24 422.767 1385.04 422.869C1384.84 422.966 1384.6 423.011 1384.26 422.96C1383.49 422.847 1382.45 422.309 1381.02 421.335C1380.15 420.736 1379.17 420.003 1378.09 419.195C1372.4 414.922 1363.88 408.527 1352.17 408.527Z"
        fill="#F2D05C"
      />
      <path
        d="M1352.17 408.527C1340.15 408.527 1332.12 414.408 1327.08 418.097C1326.29 418.679 1325.57 419.205 1324.92 419.646C1323.68 420.488 1322.85 420.908 1322.29 420.98C1322.05 421.01 1321.92 420.97 1321.82 420.91C1321.71 420.841 1321.53 420.679 1321.34 420.291C1320.94 419.482 1320.6 418.015 1320.39 415.565C1320.17 413.149 1320.08 409.895 1320.08 405.6C1320.08 400.538 1320.19 396.68 1320.43 393.795C1320.67 390.882 1321.04 389.065 1321.51 388.016C1321.73 387.502 1321.95 387.251 1322.11 387.132C1322.25 387.032 1322.39 386.986 1322.61 387.004C1322.86 387.024 1323.2 387.128 1323.67 387.372C1324.14 387.612 1324.67 387.959 1325.28 388.405C1326.05 388.968 1326.91 389.671 1327.87 390.454C1332.98 394.604 1340.87 401.027 1352.17 401.027C1358.91 401.027 1364.6 398.759 1369.32 396.06C1371.67 394.711 1373.79 393.249 1375.67 391.906C1376.13 391.578 1376.57 391.26 1376.99 390.952C1378.34 389.985 1379.53 389.126 1380.61 388.444C1382.05 387.528 1383.12 387.056 1383.9 387.005C1384.26 386.981 1384.53 387.047 1384.77 387.188C1385.02 387.335 1385.29 387.606 1385.58 388.104C1386.16 389.133 1386.64 390.925 1386.97 393.825C1387.3 396.696 1387.46 400.544 1387.46 405.6C1387.46 410.453 1387.31 414.121 1387.01 416.836C1386.71 419.584 1386.26 421.227 1385.73 422.13C1385.48 422.561 1385.24 422.767 1385.04 422.869C1384.84 422.966 1384.6 423.011 1384.26 422.96C1383.49 422.847 1382.45 422.309 1381.02 421.335C1380.15 420.736 1379.17 420.003 1378.09 419.195C1372.4 414.922 1363.88 408.527 1352.17 408.527Z"
        fill="url(#loading14_linear)"
      />
      <path
        d="M1352.17 408.527C1340.15 408.527 1332.12 414.408 1327.08 418.097C1326.29 418.679 1325.57 419.205 1324.92 419.646C1323.68 420.488 1322.85 420.908 1322.29 420.98C1322.05 421.01 1321.92 420.97 1321.82 420.91C1321.71 420.841 1321.53 420.679 1321.34 420.291C1320.94 419.482 1320.6 418.015 1320.39 415.565C1320.17 413.149 1320.08 409.895 1320.08 405.6C1320.08 400.538 1320.19 396.68 1320.43 393.795C1320.67 390.882 1321.04 389.065 1321.51 388.016C1321.73 387.502 1321.95 387.251 1322.11 387.132C1322.25 387.032 1322.39 386.986 1322.61 387.004C1322.86 387.024 1323.2 387.128 1323.67 387.372C1324.14 387.612 1324.67 387.959 1325.28 388.405C1326.05 388.968 1326.91 389.671 1327.87 390.454C1332.98 394.604 1340.87 401.027 1352.17 401.027C1358.91 401.027 1364.6 398.759 1369.32 396.06C1371.67 394.711 1373.79 393.249 1375.67 391.906C1376.13 391.578 1376.57 391.26 1376.99 390.952C1378.34 389.985 1379.53 389.126 1380.61 388.444C1382.05 387.528 1383.12 387.056 1383.9 387.005C1384.26 386.981 1384.53 387.047 1384.77 387.188C1385.02 387.335 1385.29 387.606 1385.58 388.104C1386.16 389.133 1386.64 390.925 1386.97 393.825C1387.3 396.696 1387.46 400.544 1387.46 405.6C1387.46 410.453 1387.31 414.121 1387.01 416.836C1386.71 419.584 1386.26 421.227 1385.73 422.13C1385.48 422.561 1385.24 422.767 1385.04 422.869C1384.84 422.966 1384.6 423.011 1384.26 422.96C1383.49 422.847 1382.45 422.309 1381.02 421.335C1380.15 420.736 1379.17 420.003 1378.09 419.195C1372.4 414.922 1363.88 408.527 1352.17 408.527Z"
        stroke="#F2D05C"
        stroke-width="2"
      />
      <rect
        x="1343.46"
        y="398.027"
        width="16"
        height="13"
        rx="4"
        fill="#F4DA7E"
      />
      <path
        class="mspll"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1485.52 363.738C1485.52 363.738 1481.84 362.093 1479.33 362.046C1472 361.909 1465.83 367.996 1466.05 375.328C1466.13 377.813 1467.81 381.447 1467.81 381.447L1474.84 405.925L1510.26 370.506L1485.52 363.738Z"
        fill="#0041E9"
      />
      <path
        class="mspll"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1485.52 363.738C1485.52 363.738 1481.84 362.093 1479.33 362.046C1472 361.909 1465.83 367.996 1466.05 375.328C1466.13 377.813 1467.81 381.447 1467.81 381.447L1474.84 405.925L1510.26 370.506L1485.52 363.738Z"
        fill="url(#loading15_linear)"
      />
      <circle cx="1274.08" cy="190" r="66" fill="#FFFFFF" />
      <circle cx="1262.08" cy="200" r="45" fill="#3CADD0" />
      <circle cx="1262.08" cy="200" r="45" fill="url(#loading16_radial)" />
      <circle
        cx="1262.08"
        cy="200"
        r="44.5"
        stroke="#451408"
        stroke-opacity="0.3"
      />
      <circle cx="1255.08" cy="205" r="35" fill="#451408" />
      <circle cx="1273.08" cy="174" r="8" fill="#FFFFFF" />
      <circle cx="1442.08" cy="189" r="66" fill="#FFFFFF" />
      <circle cx="1429.08" cy="200" r="45" fill="#3CADD0" />
      <circle cx="1429.08" cy="200" r="45" fill="url(#loading17_radial)" />
      <circle
        cx="1429.08"
        cy="200"
        r="44.5"
        stroke="#451408"
        stroke-opacity="0.3"
      />
      <circle cx="1422.08" cy="205" r="35" fill="#451408" />
      <circle cx="1441.08" cy="174" r="8" fill="#FFFFFF" />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1396.62 33.0286C1403.08 48.6092 1406.58 70.6092 1406.58 70.6092C1406.58 70.6092 1394.96 72.3058 1384.08 78.6092C1374.32 84.2636 1363.65 104.936 1358.08 106.109C1348.58 108.109 1360.08 33.0287 1367.77 8.10901C1374.78 -14.5801 1390.91 19.2791 1396.62 33.0286Z"
        fill="#0041E9"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1396.62 33.0286C1403.08 48.6092 1406.58 70.6092 1406.58 70.6092C1406.58 70.6092 1394.96 72.3058 1384.08 78.6092C1374.32 84.2636 1363.65 104.936 1358.08 106.109C1348.58 108.109 1360.08 33.0287 1367.77 8.10901C1374.78 -14.5801 1390.91 19.2791 1396.62 33.0286Z"
        fill="url(#loading18_linear)"
      />
      <path
        d="M1353.79 345.933C1327.27 345.933 1305.98 326.078 1304.13 299.613C1303.8 294.903 1305.11 292.345 1307.35 290.909C1309.72 289.391 1313.37 288.954 1318.15 289.155C1322.06 289.321 1326.56 289.902 1331.45 290.536C1332.47 290.669 1333.52 290.804 1334.58 290.938C1340.66 291.708 1347.22 292.433 1353.79 292.433C1360.37 292.433 1366.92 291.708 1373.01 290.938C1374.07 290.804 1375.11 290.669 1376.14 290.536C1381.03 289.902 1385.53 289.321 1389.44 289.155C1394.21 288.954 1397.87 289.391 1400.24 290.909C1402.48 292.345 1403.79 294.903 1403.46 299.613C1401.61 326.078 1380.32 345.933 1353.79 345.933Z"
        fill="#0184C4"
      />
      <path
        d="M1353.79 345.933C1327.27 345.933 1305.98 326.078 1304.13 299.613C1303.8 294.903 1305.11 292.345 1307.35 290.909C1309.72 289.391 1313.37 288.954 1318.15 289.155C1322.06 289.321 1326.56 289.902 1331.45 290.536C1332.47 290.669 1333.52 290.804 1334.58 290.938C1340.66 291.708 1347.22 292.433 1353.79 292.433C1360.37 292.433 1366.92 291.708 1373.01 290.938C1374.07 290.804 1375.11 290.669 1376.14 290.536C1381.03 289.902 1385.53 289.321 1389.44 289.155C1394.21 288.954 1397.87 289.391 1400.24 290.909C1402.48 292.345 1403.79 294.903 1403.46 299.613C1401.61 326.078 1380.32 345.933 1353.79 345.933Z"
        fill="url(#loading19_linear)"
      />
      <path
        d="M1353.79 345.933C1327.27 345.933 1305.98 326.078 1304.13 299.613C1303.8 294.903 1305.11 292.345 1307.35 290.909C1309.72 289.391 1313.37 288.954 1318.15 289.155C1322.06 289.321 1326.56 289.902 1331.45 290.536C1332.47 290.669 1333.52 290.804 1334.58 290.938C1340.66 291.708 1347.22 292.433 1353.79 292.433C1360.37 292.433 1366.92 291.708 1373.01 290.938C1374.07 290.804 1375.11 290.669 1376.14 290.536C1381.03 289.902 1385.53 289.321 1389.44 289.155C1394.21 288.954 1397.87 289.391 1400.24 290.909C1402.48 292.345 1403.79 294.903 1403.46 299.613C1401.61 326.078 1380.32 345.933 1353.79 345.933Z"
        stroke="#0184C3"
        stroke-width="2"
      />
      <g opacity="0.4">
        <ellipse cx="1408.08" cy="491.5" rx="200" ry="29.5" fill="#C4C4C4" />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M1538.41 464.362L1529.43 466.938L1529.82 480.65L1538.93 482.644C1538.93 482.644 1574.81 491.413 1584.56 489.903C1599.29 487.624 1573.95 479.633 1574.26 472.608C1574.58 465.128 1588.6 457.604 1589.09 453.717C1589.57 449.83 1538.41 464.362 1538.41 464.362Z"
          fill="#C4C4C4"
        />
        <path
          d="M1332.99 515.344C1306.08 515.344 1300.08 537.829 1300.08 512.45C1300.08 482.539 1307.11 508.341 1332.99 508.341C1358.87 508.341 1369.08 482.539 1369.08 512.45C1369.08 541.146 1359.9 515.344 1332.99 515.344Z"
          fill="#C4C4C4"
        />
      </g>
      <defs>
        <linearGradient
          id="loading0_linear"
          x1="324.977"
          y1="360.873"
          x2="350.563"
          y2="390.161"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.291647" stop-color="#34BCFF" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="loading1_linear"
          x1="58.0794"
          y1="245.5"
          x2="-7.92057"
          y2="138"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#3EBFFF" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <radialGradient
          id="loading2_radial"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(-106.5 -88.8908) rotate(63.0478) scale(304.756)"
        >
          <stop offset="0.821385" stop-color="#A3E1FF" />
          <stop offset="1" stop-color="#43C1FF" />
        </radialGradient>
        <linearGradient
          id="loading3_linear"
          x1="125.579"
          y1="362"
          x2="102.269"
          y2="394.946"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.291647" stop-color="#3EBFFF" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <radialGradient
          id="loading4_radial"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(45 45) rotate(90) scale(45)"
        >
          <stop stop-color="white" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </radialGradient>
        <radialGradient
          id="loading5_radial"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(45 45) rotate(90) scale(45)"
        >
          <stop stop-color="white" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </radialGradient>
        <linearGradient
          id="loading6_linear"
          x1="205.025"
          y1="37.5253"
          x2="276.894"
          y2="39.7111"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.291647" stop-color="#34BCFF" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="loading7_linear"
          x1="267.579"
          y1="327.5"
          x2="259.81"
          y2="365.985"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#109CC8" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="loading8_linear"
          x1="177.929"
          y1="112.991"
          x2="196.474"
          y2="140.451"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#F8BDC5" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="loading9_linear"
          x1="27"
          y1="124.5"
          x2="73"
          y2="54"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#A3E1FF" stop-opacity="0.71" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="loading10_linear"
          x1="94.5"
          y1="17.5"
          x2="3.5"
          y2="145"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#A3E1FF" />
          <stop offset="1" stop-color="white" stop-opacity="0.8" />
        </linearGradient>
        <linearGradient
          id="loading11_linear"
          x1="1283.18"
          y1="360.873"
          x2="1257.6"
          y2="390.161"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.291647" stop-color="#0041E9" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="loading12_linear"
          x1="1550.08"
          y1="245.5"
          x2="1616.08"
          y2="138"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#0041E9" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <radialGradient
          id="loading13_radial"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(1330.58 159) rotate(63.0478) scale(264.756)"
        >
          <stop offset="0.821385" stop-color="#009DE9" />
          <stop offset="1" stop-color="#007EBB" stop-opacity="0.65" />
        </radialGradient>
        <linearGradient
          id="loading14_linear"
          x1="1338.96"
          y1="433.418"
          x2="1337.69"
          y2="453.976"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#F2D05C" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="loading15_linear"
          x1="1482.58"
          y1="362"
          x2="1505.89"
          y2="394.946"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.291647" stop-color="#0041E9" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <radialGradient
          id="loading16_radial"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(1262.08 200) rotate(90) scale(45)"
        >
          <stop stop-color="white" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </radialGradient>
        <radialGradient
          id="loading17_radial"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(1429.08 200) rotate(90) scale(45)"
        >
          <stop stop-color="white" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </radialGradient>
        <linearGradient
          id="loading18_linear"
          x1="1403.13"
          y1="37.5253"
          x2="1331.26"
          y2="39.7111"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.291647" stop-color="#0041E9" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
        <linearGradient
          id="loading19_linear"
          x1="1340.58"
          y1="327.5"
          x2="1348.35"
          y2="365.985"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#056A9A" />
          <stop offset="1" stop-color="white" stop-opacity="0" />
        </linearGradient>
      </defs>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'ContentLoading',
  data: () => ({
    loading: false,
  }),
  methods: {
    start() {
      this.loading = true
    },
    finish() {
      this.loading = false
    },
  },
}
</script>

<style lang="postcss">
.content-load {
  display: flex;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &__text {
    span {
      animation: show-hide calc(var(--base-time) * 3) linear infinite;

      &:nth-of-type(2) {
        animation-delay: var(--base-time) / 2;
      }

      &:nth-of-type(3) {
        animation-delay: var(--base-time);
      }
    }
  }
}

.mspll,
.msplr {
  transform-origin: center top;
  animation: mspl 2s ease-in-out infinite;
}

.fipll,
.fiplr {
  animation: fipl 2s ease-in-out 300ms infinite;
}

.bubble {
  transform-origin: center center;
  animation: bubble 2s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.bubble-shadow {
  animation: shadow 2s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

@keyframes show-hide {
  100% {
    opacity: 0;
  }
}

@keyframes mspl {
  50% {
    transform: translate(0.5rem, -1rem) rotate(2deg);
  }
}

@keyframes fipl {
  50% {
    transform: translate(0.5rem, -1rem) rotate(2deg);
  }
}

@keyframes bubble {
  50% {
    transform: translateY(200px);
  }
}

@keyframes shadow {
  50% {
    transform: translate(804px, 500px) scale(0.6, 0.6);
  }
}
</style>
