.theme--light {
  &.v-application {
    color: var(--secondary) !important;
  }

  &.v-app-bar {
    &.v-toolbar {
      &.v-sheet {
        border-color: #f8f9fccc;
        background: radial-gradient(transparent 0.0625em, #f8f9fc 0.0625em);
        background-size: 0.25em 0.25em;
        backdrop-filter: saturate(50%) blur(0.25rem);
      }
    }
  }

  .v-main {
    background-color: var(--light);
  }

  .v-footer {
    .v-card {
      background-color: var(--light);
    }
  }
}
