@import './utils/_vars';
@import './mq';
@import './anchor';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;

  &[lang='en-US'] {
    .v-application {
      --body-font-family: 'Raleway', sans-serif;
      --heading-font-family: 'Montserrat alternates', sans-serif;
    }
  }

  &[lang='ru-RU'] {
    .v-application {
      --body-font-family: 'Manrope', sans-serif;
      --heading-font-family: 'Commissioner', sans-serif;
    }
  }
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @util word-wrap(normal);
}

a {
  text-decoration: none;
  color: var(--primary);

  &:focus {
    outline: none;
  }

  &:not([class]) {
    text-decoration-skip-ink: auto;

    &:hover {
      text-decoration: underline;
    }
  }
}

img {
  display: block;
  max-width: 100%;
}

ul[class],
ol[class] {
  @util reset-list;
}

/**
 *
 * GLOBAL STYLE
 *
 */

.cursor {
  &-none {
    cursor: none;
  }

  &-pointer {
    cursor: pointer;
  }

  &-help {
    cursor: help;
  }
}

.fill-width {
  flex: 0 0 100%;
  max-width: 100%;
}

.hidden {
  overflow: hidden;

  &-x {
    overflow-x: hidden;
  }

  &-y {
    overflow-y: hidden;
  }

  &-initial {
    overflow: initial;
  }
}

.not-pointer {
  pointer-events: none;
  user-select: none;
}

.op {
  &-1 {
    opacity: 0.1;
  }
  &-2 {
    opacity: 0.2;
  }
  &-3 {
    opacity: 0.3;
  }
  &-4 {
    opacity: 0.4;
  }
  &-5 {
    opacity: 0.5;
  }
  &-6 {
    opacity: 0.6;
  }
  &-7 {
    opacity: 0.7;
  }
  &-8 {
    opacity: 0.8;
  }
  &-9 {
    opacity: 0.9;
  }
}

.position {
  &-absolute {
    position: absolute;
  }

  &-relative {
    position: relative;
  }

  &-sticky {
    position: sticky;
  }
}

.text {
  &-break-word {
    word-break: break-word !important;
  }

  &-keep-all {
    word-break: keep-all !important;
  }

  &-gradient {
    padding-bottom: var(--px);
    background: var(--background-gradient-page);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-transparent {
    mix-blend-mode: multiply;
  }
}

.scroll-snap-x {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.scroll-snap-x > * {
  width: min(45ch, 60vw);
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
