<template>
  <svg
    :width="width"
    :height="height"
    viewBox="0 0 945 728"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="fish-articles"
    @mouseover="flyList = true"
    @mouseleave="flyList = false"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M589.896 676.523C577.884 676.855 565.494 677.028 552.828 677.028C539.48 677.028 526.437 676.835 513.82 676.468C513.826 676.925 513.828 677.397 513.828 677.883C513.828 694.553 510.731 692.833 502.86 688.463C497.181 685.31 489.018 680.778 477.741 680.778C466.141 680.778 458.426 684.957 453.402 687.678C448.097 690.551 445.793 691.799 445.083 684.789L279.395 722.793L114.081 674.353L304.514 630.674L353.531 645.037C362.107 629.911 448.06 618.028 552.828 618.028C608.155 618.028 658.234 621.342 694.442 626.697C709.477 622.667 734.175 616.444 733.837 619.15C733.638 620.741 731.172 622.942 728.305 625.499L728.305 625.5C726.147 627.425 723.763 629.552 721.949 631.774C741.507 636.332 752.828 641.735 752.828 647.528C752.828 650.37 750.104 653.118 745.02 655.718L815.795 672.978L703.476 704.222L589.896 676.523Z"
      fill="#C4C4C4"
      fill-opacity="0.4"
    />
    <g :class="{ 'flying-list': flyList }">
      <path
        d="M1.36069 396.105C1.12519 396.231 0.949334 396.446 0.87169 396.702C0.794046 396.957 0.820909 397.232 0.946502 397.469L51.242 491.674C51.3681 491.909 51.5824 492.085 51.838 492.162C52.0936 492.239 52.3695 492.212 52.6053 492.088L123.703 454.128C123.939 454.002 124.115 453.788 124.192 453.533C124.27 453.277 124.243 453.001 124.117 452.766L73.8216 358.561C73.6956 358.326 73.4813 358.15 73.2258 358.072C72.9702 357.994 72.6942 358.021 72.4584 358.147L1.36069 396.105Z"
        fill="#E6E6E6"
      />
      <path
        d="M7.97098 398.858L53.9966 485.064L117.096 451.376L71.0701 365.169L7.97098 398.858ZM3.97258 400.992L3.98145 400.988L3.97168 400.994L3.97258 400.992Z"
        fill="white"
      />
      <path
        d="M23.8795 408.337C22.8992 408.86 22.6906 410.387 23.4135 411.742C24.1364 413.096 25.5221 413.772 26.5023 413.249L72.7159 388.576C73.6961 388.052 73.9048 386.524 73.1819 385.171C72.4589 383.816 71.0733 383.14 70.0931 383.663L23.8795 408.337Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M29.5738 419C28.5936 419.524 28.3849 421.051 29.1078 422.405C29.8308 423.76 31.2164 424.436 32.1966 423.913L78.41 399.239C79.3909 398.716 79.5991 397.189 78.8767 395.834C78.1529 394.48 76.7677 393.804 75.7874 394.327L29.5738 419Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M35.2658 429.665C34.2855 430.188 34.0768 431.716 34.7997 433.071C35.5227 434.424 36.9083 435.1 37.8886 434.577L84.1027 409.905C85.0822 409.381 85.2918 407.853 84.568 406.499C83.8456 405.144 82.4598 404.468 81.479 404.991L35.2658 429.665Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M40.9601 440.33C39.9799 440.853 39.7711 442.381 40.4941 443.735C41.217 445.089 42.6027 445.766 43.583 445.242L89.797 420.569C90.7766 420.046 90.9848 418.518 90.2624 417.164C89.5399 415.809 88.1542 415.133 87.1733 415.656L40.9601 440.33Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M46.6544 450.994C45.6742 451.518 45.4654 453.046 46.1884 454.4C46.9114 455.753 48.297 456.431 49.2773 455.908L95.4902 431.234C96.471 430.711 96.6793 429.182 95.9568 427.829C95.2344 426.475 93.8486 425.797 92.8678 426.321L46.6544 450.994Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M52.3483 461.659C51.368 462.182 51.1593 463.711 51.8823 465.064C52.6053 466.419 53.9909 467.095 54.9711 466.572L101.184 441.898C102.165 441.375 102.373 439.848 101.651 438.493C100.928 437.139 99.5425 436.463 98.5617 436.986L52.3483 461.659Z"
        fill="#808080"
        fill-opacity="0.12"
      />
    </g>
    <g :class="{ 'flying-list': flyList }">
      <path
        d="M159.361 80.1051C159.125 80.231 158.949 80.4457 158.872 80.7015C158.794 80.9573 158.821 81.2324 158.947 81.469L209.242 175.674C209.368 175.909 209.582 176.085 209.838 176.162C210.094 176.239 210.37 176.212 210.605 176.088L281.703 138.128C281.939 138.002 282.115 137.788 282.192 137.533C282.27 137.277 282.243 137.001 282.117 136.766L231.822 42.5609C231.696 42.3256 231.481 42.1495 231.226 42.0724C230.97 41.994 230.694 42.021 230.458 42.147L159.361 80.1051Z"
        fill="#E6E6E6"
      />
      <path
        d="M165.971 82.8584L211.997 169.064L275.096 135.376L229.07 49.1694L165.971 82.8584ZM161.973 84.9923L161.981 84.9885L161.972 84.9936L161.973 84.9923Z"
        fill="white"
      />
      <path
        d="M181.88 92.3366C180.899 92.8598 180.691 94.387 181.414 95.7419C182.136 97.0955 183.522 97.7717 184.502 97.2485L230.716 72.576C231.696 72.0515 231.905 70.5244 231.182 69.1707C230.459 67.8158 229.073 67.1396 228.093 67.6628L181.88 92.3366Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M187.574 103C186.594 103.524 186.385 105.051 187.108 106.405C187.831 107.76 189.216 108.436 190.197 107.913L236.41 83.239C237.391 82.7158 237.599 81.1887 236.877 79.8338C236.153 78.4801 234.768 77.804 233.787 78.3272L187.574 103Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M193.266 113.665C192.286 114.188 192.077 115.716 192.8 117.071C193.523 118.424 194.908 119.1 195.889 118.577L242.103 93.9046C243.082 93.3814 243.292 91.853 242.568 90.4993C241.846 89.1444 240.46 88.4683 239.479 88.9915L193.266 113.665Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M198.96 124.33C197.98 124.853 197.771 126.381 198.494 127.735C199.217 129.089 200.603 129.766 201.583 129.242L247.797 104.569C248.777 104.046 248.985 102.518 248.262 101.164C247.54 99.809 246.154 99.1328 245.173 99.656L198.96 124.33Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M204.654 134.994C203.674 135.518 203.465 137.046 204.188 138.4C204.911 139.753 206.297 140.431 207.277 139.908L253.49 115.234C254.471 114.711 254.679 113.182 253.957 111.829C253.234 110.475 251.849 109.797 250.868 110.321L204.654 134.994Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M210.348 145.659C209.368 146.182 209.159 147.711 209.882 149.064C210.605 150.419 211.991 151.095 212.971 150.572L259.184 125.898C260.165 125.375 260.373 123.848 259.651 122.493C258.928 121.139 257.543 120.463 256.562 120.986L210.348 145.659Z"
        fill="#808080"
        fill-opacity="0.12"
      />
    </g>
    <g :class="{ 'flying-list': flyList }">
      <path
        d="M780.543 433.81C780.669 433.877 780.763 433.992 780.805 434.129C780.846 434.266 780.832 434.413 780.765 434.54L753.866 484.921C753.799 485.047 753.684 485.141 753.548 485.183C753.411 485.224 753.263 485.209 753.137 485.143L715.113 464.842C714.987 464.774 714.893 464.659 714.852 464.523C714.81 464.386 714.824 464.239 714.892 464.113L741.79 413.731C741.858 413.605 741.972 413.511 742.109 413.47C742.246 413.428 742.393 413.442 742.52 413.51L780.543 433.81Z"
        fill="#E6E6E6"
      />
      <path
        d="M777.008 435.283L752.393 481.386L718.647 463.37L743.262 417.265L777.008 435.283ZM779.146 436.424L779.142 436.422L779.147 436.425L779.146 436.424Z"
        fill="white"
      />
      <path
        d="M768.5 440.352C769.024 440.632 769.136 441.448 768.749 442.173C768.363 442.897 767.621 443.258 767.097 442.979L742.382 429.784C741.858 429.503 741.746 428.686 742.133 427.962C742.519 427.238 743.26 426.876 743.785 427.156L768.5 440.352Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M765.455 446.054C765.979 446.335 766.09 447.152 765.704 447.876C765.317 448.6 764.576 448.962 764.052 448.682L739.336 435.486C738.812 435.206 738.701 434.39 739.087 433.665C739.474 432.941 740.215 432.58 740.739 432.859L765.455 446.054Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M762.411 451.758C762.935 452.038 763.047 452.855 762.66 453.58C762.273 454.304 761.532 454.665 761.008 454.385L736.292 441.19C735.768 440.91 735.656 440.093 736.043 439.369C736.43 438.644 737.171 438.283 737.695 438.563L762.411 451.758Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M759.365 457.462C759.889 457.742 760.001 458.559 759.614 459.283C759.228 460.007 758.487 460.369 757.962 460.089L733.247 446.894C732.723 446.614 732.611 445.796 732.998 445.072C733.384 444.348 734.125 443.986 734.65 444.266L759.365 457.462Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M756.32 463.166C756.844 463.445 756.956 464.263 756.569 464.987C756.182 465.711 755.441 466.073 754.917 465.793L730.202 452.597C729.677 452.318 729.566 451.5 729.952 450.776C730.339 450.052 731.08 449.69 731.604 449.97L756.32 463.166Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M753.274 468.869C753.799 469.149 753.91 469.966 753.524 470.69C753.137 471.415 752.396 471.777 751.872 471.497L727.156 458.301C726.632 458.021 726.521 457.204 726.907 456.48C727.293 455.756 728.034 455.394 728.559 455.674L753.274 468.869Z"
        fill="#808080"
        fill-opacity="0.12"
      />
    </g>
    <g :class="{ 'flying-list': flyList }">
      <path
        d="M837.113 218.392C836.987 218.46 836.893 218.574 836.851 218.711C836.81 218.848 836.824 218.995 836.891 219.122L863.79 269.503C863.857 269.629 863.972 269.723 864.109 269.765C864.245 269.806 864.393 269.791 864.519 269.725L902.543 249.424C902.669 249.356 902.763 249.241 902.804 249.105C902.846 248.969 902.832 248.821 902.764 248.695L875.866 198.313C875.798 198.187 875.684 198.093 875.547 198.052C875.41 198.01 875.263 198.024 875.137 198.092L837.113 218.392Z"
        fill="#E6E6E6"
      />
      <path
        d="M840.648 219.865L865.263 265.968L899.009 247.952L874.394 201.847L840.648 219.865ZM838.51 221.006L838.515 221.004L838.509 221.007L838.51 221.006Z"
        fill="white"
      />
      <path
        d="M849.156 224.934C848.632 225.214 848.52 226.03 848.907 226.755C849.294 227.479 850.035 227.841 850.559 227.561L875.274 214.366C875.799 214.085 875.91 213.268 875.524 212.544C875.137 211.82 874.396 211.458 873.872 211.738L849.156 224.934Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M852.202 230.636C851.677 230.917 851.566 231.734 851.952 232.458C852.339 233.182 853.08 233.544 853.604 233.264L878.32 220.068C878.844 219.788 878.956 218.972 878.569 218.247C878.182 217.523 877.441 217.162 876.917 217.441L852.202 230.636Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M855.246 236.34C854.721 236.62 854.61 237.437 854.996 238.162C855.383 238.886 856.124 239.247 856.648 238.967L881.364 225.772C881.888 225.493 882 224.675 881.613 223.951C881.227 223.227 880.486 222.865 879.961 223.145L855.246 236.34Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M858.291 242.044C857.767 242.324 857.655 243.141 858.042 243.865C858.428 244.589 859.17 244.951 859.694 244.671L884.41 231.476C884.933 231.196 885.045 230.378 884.658 229.655C884.272 228.93 883.531 228.568 883.006 228.848L858.291 242.044Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M861.336 247.748C860.812 248.027 860.701 248.845 861.087 249.569C861.474 250.293 862.215 250.655 862.739 250.375L887.454 237.179C887.979 236.9 888.09 236.082 887.704 235.358C887.318 234.634 886.576 234.272 886.052 234.552L861.336 247.748Z"
        fill="#808080"
        fill-opacity="0.12"
      />
      <path
        d="M864.382 253.451C863.858 253.731 863.746 254.548 864.133 255.272C864.519 255.997 865.26 256.359 865.785 256.079L890.5 242.883C891.024 242.603 891.136 241.786 890.749 241.062C890.363 240.338 889.622 239.976 889.097 240.256L864.382 253.451Z"
        fill="#808080"
        fill-opacity="0.12"
      />
    </g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M630.47 382.631L627.873 376.767L609.186 374.866L605.554 380.095L591.025 401.011L640.858 406.083L630.47 382.631Z"
      fill="#0041E9"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M630.47 382.631L627.873 376.767L609.186 374.866L605.554 380.095L591.025 401.011L640.858 406.083L630.47 382.631Z"
      fill="url(#fish-articles0_linear)"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M344.914 181.462L353.611 194.293L351.5 268.633L342.1 280.582C342.1 280.582 304.994 332.593 295.396 325.638C280.907 315.138 307.332 268.662 307.907 230.638C308.52 190.146 295.396 151.138 295.396 130.138C295.396 109.138 344.914 181.462 344.914 181.462Z"
      fill="#0041E9"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M344.914 181.462L353.611 194.293L351.5 268.633L342.1 280.582C342.1 280.582 304.994 332.593 295.396 325.638C280.907 315.138 307.332 268.662 307.907 230.638C308.52 190.146 295.396 151.138 295.396 130.138C295.396 109.138 344.914 181.462 344.914 181.462Z"
      fill="url(#fish-articles1_linear)"
    />
    <circle
      r="168"
      transform="matrix(-1 0 0 1 505.907 253.138)"
      fill="#009DE9"
    />
    <circle
      r="168"
      transform="matrix(-1 0 0 1 505.907 253.138)"
      fill="url(#fish-articles2_radial)"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M623.83 374.827C625.642 381.213 626.228 386.585 624.531 389.548C623.452 391.439 621.523 392.686 620.331 392.997C619.816 393.131 619.379 393.268 619.23 393.284C619.196 393.288 618.957 393.355 618.862 393.38L555.395 389.141L523.526 387.253L515.945 356.676L604.587 358.609L609.221 358.692C609.391 358.696 609.614 358.67 609.782 358.634C610.126 358.571 618.743 356.93 623.83 374.827ZM498.424 399.289L519.582 388.674L512.544 357.17L422.083 407.191L410.467 413.518C410.853 414.396 411.319 415.563 411.795 416.849C413.917 422.531 416.506 432.779 414.61 440.361L425.692 434.726L498.424 399.289Z"
      fill="#FAFAFA"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M407.634 443.438C413.455 437.299 409.954 424.45 407.008 417.228C380.21 416.649 388.565 412.001 388.604 411.996L399.356 406.216L509.496 347.194L616.927 351.854C621.36 354.09 627.164 359.469 631.343 372.412C639.027 396.193 624.066 402.466 624.066 402.466L493.283 456.716L402.891 453.316C398.91 450.689 402.177 447.114 407.385 443.815C407.412 443.774 407.437 443.732 407.461 443.689C407.513 443.601 407.564 443.514 407.634 443.438ZM623.997 375.569C625.808 381.955 625.875 386.897 624.177 389.861C623.099 391.752 621.443 392.518 620.252 392.829C619.737 392.963 619.324 393.008 619.175 393.025C619.141 393.028 619.121 393.031 619.116 393.032L555.675 389.215L524.023 387.311L517.264 357.469L605.085 359.075L609.719 359.158C609.89 359.162 610.113 359.136 610.281 359.1C610.624 359.037 618.91 357.672 623.997 375.569ZM497.871 398.814L519.203 388.305L512.489 358.671L422.582 407.657L410.966 413.984C411.351 414.863 411.817 416.029 412.293 417.315C414.415 422.997 416.936 432.04 415.04 439.622L425.78 434.329L497.871 398.814Z"
      fill="#108775"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M417.611 391.994C417.611 391.994 416.975 388.012 417.578 385.581C419.344 378.462 426.82 374.077 433.845 376.189C436.226 376.905 439.301 379.471 439.301 379.471L461.125 392.598L417.745 417.643L417.611 391.994Z"
      fill="#0041E9"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M417.611 391.994C417.611 391.994 416.975 388.012 417.578 385.581C419.344 378.462 426.82 374.077 433.845 376.189C436.226 376.905 439.301 379.471 439.301 379.471L461.125 392.598L417.745 417.643L417.611 391.994Z"
      fill="url(#fish-articles3_linear)"
    />
    <path
      d="M557.828 205.028C557.828 241.479 587.377 271.028 623.828 271.028C660.279 271.028 689.828 241.479 689.828 205.028C689.828 168.578 660.279 139.028 623.828 139.028C587.377 139.028 557.828 168.578 557.828 205.028Z"
      fill="white"
    />
    <circle
      r="45"
      transform="matrix(-1 0 0 1 623.828 205.028)"
      fill="#3CADD0"
    />
    <circle
      r="45"
      transform="matrix(-1 0 0 1 623.828 205.028)"
      fill="url(#fish-articles4_radial)"
    />
    <circle
      r="44.5"
      transform="matrix(-1 0 0 1 623.828 205.028)"
      stroke="#451408"
      stroke-opacity="0.3"
    />
    <circle
      r="23"
      transform="matrix(-1 0 0 1 623.828 205.028)"
      fill="#451408"
    />
    <circle r="8" transform="matrix(-1 0 0 1 605.828 190.028)" fill="white" />
    <circle r="66" transform="matrix(-1 0 0 1 455.828 205.028)" fill="white" />
    <circle
      r="45"
      transform="matrix(-1 0 0 1 455.828 205.028)"
      fill="#3CADD0"
    />
    <circle
      r="45"
      transform="matrix(-1 0 0 1 455.828 205.028)"
      fill="url(#fish-articles5_radial)"
    />
    <circle
      r="44.5"
      transform="matrix(-1 0 0 1 455.828 205.028)"
      stroke="#451408"
      stroke-opacity="0.3"
    />
    <circle
      r="23"
      transform="matrix(-1 0 0 1 455.828 205.028)"
      fill="#451408"
    />
    <circle r="8" transform="matrix(-1 0 0 1 437.828 190.028)" fill="white" />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M501.37 48.0572C494.907 63.6377 491.407 85.6377 491.407 85.6377C491.407 85.6377 503.031 87.3343 513.907 93.6377C523.664 99.2921 534.336 119.965 539.907 121.138C549.407 123.138 537.907 48.0572 530.212 23.1375C523.206 0.448384 507.073 34.3077 501.37 48.0572Z"
      fill="#0041E9"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M501.37 48.0572C494.907 63.6377 491.407 85.6377 491.407 85.6377C491.407 85.6377 503.031 87.3343 513.907 93.6377C523.664 99.2921 534.336 119.965 539.907 121.138C549.407 123.138 537.907 48.0572 530.212 23.1375C523.206 0.448384 507.073 34.3077 501.37 48.0572Z"
      fill="url(#fish-articles6_linear)"
    />
    <path
      d="M531.191 321.881C531.191 321.881 521.191 319.902 509.212 326.902C503.263 330.379 504.191 333.902 504.191 333.902"
      stroke="#0184C3"
      stroke-width="5"
      stroke-linecap="round"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M270.15 672.369C262.835 670.576 257.208 668.142 255.236 664.806C253.976 662.682 253.828 660.08 254.189 658.731C254.346 658.147 254.456 657.64 254.524 657.483C254.539 657.448 254.607 657.174 254.635 657.067L294.4 596.84L314.131 566.463L348.542 576.129L296.937 662.481L294.256 667.005C294.157 667.171 294.057 667.405 293.998 667.591C293.869 667.966 290.655 677.386 270.15 672.369ZM316.332 534.955L314.941 561.776L349.961 572.497L351.339 455.223L351.611 440.217C350.528 440.105 349.116 439.911 347.581 439.659C340.787 438.567 329.227 435.375 322.81 429.254L322.155 443.344L316.332 534.955Z"
      fill="#FAFAFA"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M323.686 420.647C326.478 429.831 341.115 433.582 349.89 434.726C365.487 408.616 365.387 419.464 365.37 419.506L365.043 433.351L361.51 575.084L296.681 678.441C291.99 681.559 283.43 684.268 268.319 681.134C240.555 675.379 242.755 657.106 242.755 657.106L262.569 464.736L316.602 410.431C321.425 407.977 323.12 413.204 323.454 420.19C323.479 420.24 323.508 420.288 323.536 420.337C323.593 420.437 323.651 420.536 323.686 420.647ZM269.325 672.117C262.01 670.324 257.098 667.619 255.126 664.283C253.866 662.158 254.038 660.096 254.399 658.746C254.555 658.163 254.742 657.731 254.81 657.574C254.825 657.539 254.834 657.518 254.836 657.512L294.17 597.074L313.795 566.921L347.019 576.985L296.198 662.711L293.517 667.235C293.418 667.401 293.318 667.636 293.259 667.822C293.129 668.196 289.83 677.134 269.325 672.117ZM317.11 534.676L315.516 561.61L348.511 571.601L350.6 455.454L350.871 440.448C349.789 440.336 348.377 440.141 346.841 439.889C340.047 438.797 329.714 436.213 323.298 430.092L322.498 443.654L317.11 534.676Z"
      fill="#3C9CD7"
    />
    <g clip-path="url(#clip0)">
      <path
        d="M295.905 531.037L279.493 555.792L265.045 564.637L270.602 494.656L308.584 453.303L295.905 531.037Z"
        fill="#2062AF"
      />
      <path
        d="M288.854 479.962L280.276 549.447L280.309 549.427L293.591 529.395L304.258 463.191L288.854 479.962V479.962Z"
        fill="#3C9CD7"
      />
      <path
        d="M286.561 498.444L274.43 519.274L273.72 527.594L285.476 507.228L297.982 485.564L299.554 476.132L286.561 498.444Z"
        fill="white"
      />
      <path
        d="M274.43 519.274L273.719 527.594L285.476 507.228L286.56 498.444L274.43 519.274V519.274Z"
        fill="url(#fish-articles7_linear)"
      />
      <path
        d="M299.554 476.133L286.561 498.444L285.476 507.228L297.982 485.564L299.554 476.133Z"
        fill="url(#fish-articles8_linear)"
      />
      <path
        d="M274.447 519.256L273.737 527.576L290.108 509.839L288.306 521.863L282.557 530.638L277.683 533.775L278.26 526.901L273.445 532.144L272.353 545.39L281.409 540.302L291.76 524.348L296.431 495.321L274.447 519.256V519.256Z"
        fill="url(#fish-articles9_linear)"
      />
      <path
        opacity="0.05"
        d="M285.474 507.25L274.43 519.274L273.72 527.594L284.389 516.034L285.474 507.25ZM282.595 530.572L282.539 530.657L277.666 533.794L278.243 526.92L273.428 532.162L272.336 545.409L281.391 540.321L282.595 530.572Z"
        fill="black"
      />
      <path
        d="M275.687 502.118L299.554 476.133L297.982 485.565L275.161 510.411L275.687 502.118V502.118Z"
        fill="url(#fish-articles10_linear)"
      />
      <path
        opacity="0.05"
        d="M287.725 489.012L275.687 502.118L275.161 510.411L286.624 497.931L287.725 489.012V489.012Z"
        fill="black"
      />
    </g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M429.457 573.939C426.308 576.403 424.116 578.809 423.89 580.853C423.744 582.156 424.24 583.448 424.709 584.022C424.912 584.27 425.076 584.492 425.143 584.553C425.158 584.566 425.251 584.684 425.288 584.73L457.675 605.198L473.853 615.592L488.396 603.405L444.578 572.878L442.293 571.274C442.209 571.215 442.11 571.123 442.041 571.046C441.896 570.893 438.285 567.036 429.457 573.939ZM481.794 630.36L475.268 617.684L489.876 604.853L516.136 661.305L519.543 668.508C519.043 668.798 518.402 669.201 517.714 669.658C514.665 671.669 509.767 675.736 507.998 680.099L504.606 673.423L481.794 630.36Z"
      fill="#FAFAFA"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M510.3 684.072C509.646 679.019 515.911 674.009 519.908 671.541C533.154 680.772 530.738 675.544 530.721 675.528L527.541 668.899L494.9 601.08L440.971 565.21C438.02 564.725 433.287 565.282 426.658 570.096C414.477 578.94 419.53 587.304 419.53 587.304L463.91 660.129L509.101 690.562C511.97 690.697 511.65 687.798 510.287 684.344C510.288 684.315 510.291 684.285 510.294 684.256C510.301 684.195 510.307 684.134 510.3 684.072ZM429.112 574.24C425.964 576.705 424.177 579.086 423.951 581.131C423.804 582.434 424.338 583.394 424.807 583.968C425.01 584.217 425.195 584.385 425.262 584.446C425.277 584.46 425.286 584.468 425.288 584.471L457.513 605.135L473.59 615.444L487.473 603.323L444.17 572.928L441.885 571.323C441.801 571.265 441.701 571.173 441.632 571.096C441.488 570.943 437.941 567.338 429.112 574.24ZM482.232 630.325L475.583 617.638L489.37 605.603L515.728 661.355L519.134 668.557C518.635 668.848 517.994 669.25 517.306 669.707C514.256 671.718 509.82 675.224 508.05 679.586L504.704 673.198L482.232 630.325Z"
      fill="#108775"
    />
    <path
      d="M469.342 634.638L469.27 636.522L459.145 623.239L458.391 643.022L469.168 650.127C469.965 651.719 471.787 653.785 473.237 654.741L459.835 645.905C458.898 645.287 457.756 644.165 456.84 642.964C455.924 641.763 455.374 640.664 455.396 640.081L456.15 620.299C456.172 619.716 456.764 619.738 457.702 620.356C458.64 620.975 459.782 622.096 460.697 623.297L469.342 634.638V634.638Z"
      fill="#00C58E"
    />
    <path
      d="M491.776 664.068L472.302 638.521L469.342 634.638L469.27 636.522L468.798 648.917C468.776 649.5 469.326 650.599 470.242 651.8C471.157 653.002 472.299 654.123 473.237 654.741L491.666 666.892C492.604 667.511 493.195 667.533 493.218 666.95C493.24 666.367 492.69 665.268 491.774 664.066L491.776 664.068ZM471.793 651.858L472.23 640.405L490.222 664.009L471.793 651.858L471.793 651.858Z"
      fill="#2F495E"
    />
    <path
      d="M500.351 671.653C500.329 672.236 499.738 672.214 498.8 671.596L491.666 666.892C493.116 667.848 493.645 667.332 492.847 665.74L497.35 668.709L472.398 635.975L472.302 638.521L469.342 634.638L469.403 633.034C469.426 632.451 470.017 632.473 470.955 633.092C471.893 633.71 473.035 634.831 473.95 636.032L498.907 668.769C499.823 669.971 500.373 671.07 500.351 671.653V671.653Z"
      fill="#108775"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M438.224 642.028C438.411 633.285 437.373 626.242 434.224 623.028C432.22 620.976 429.346 620.028 427.724 620.028C427.022 620.028 426.42 619.999 426.224 620.028C426.181 620.035 425.852 620.028 425.724 620.028L346.224 646.528L306.224 659.528L306.724 701.028L419.083 669.1L424.963 667.453C425.179 667.392 425.472 667.35 425.698 667.34C426.157 667.307 437.688 666.534 438.224 642.028ZM270.224 652.528L300.724 659.028L302.224 701.528L170.277 667.83L153.365 663.625C153.565 662.377 153.771 660.735 153.95 658.937C154.767 650.989 154.661 637.064 149.724 628.028L165.724 631.528L270.224 652.528Z"
      fill="#FAFAFA"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M139.808 626.424C149.269 632.315 149.078 649.859 147.723 660.045C113.752 669.691 125.949 672.839 126 672.833L141.628 676.627L301.655 715.259L437.061 673.609C441.968 669.285 447.579 660.499 448.605 642.609C450.495 609.739 429.338 606.715 429.338 606.715L244.581 581.028L130.479 615.408C126.277 620.08 131.63 623.552 139.365 626.026C139.413 626.07 139.459 626.116 139.505 626.162C139.599 626.257 139.694 626.352 139.808 626.424ZM438.19 641.027C438.377 632.284 436.819 625.961 433.67 622.747C431.666 620.695 429.301 620.268 427.679 620.268C426.977 620.268 426.436 620.348 426.24 620.377C426.197 620.383 426.17 620.387 426.163 620.387L346.556 646.34L306.839 659.289L308.142 699.578L419.564 668.34L425.444 666.693C425.66 666.632 425.953 666.59 426.179 666.58C426.638 666.547 437.654 665.533 438.19 641.027ZM269.677 653.317L300.365 659.624L301.655 699.633L170.758 667.07L153.846 662.865C154.046 661.617 154.252 659.975 154.431 658.177C155.248 650.229 155.455 637.863 150.518 628.827L165.969 632.005L269.677 653.317Z"
      fill="#F16529"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M134.545 575.287C134.354 566.363 135.414 559.175 138.628 555.895C140.673 553.8 143.606 552.833 145.262 552.833C145.978 552.833 146.593 552.803 146.793 552.833C146.837 552.839 147.172 552.833 147.303 552.833L228.443 579.88L269.268 593.148L268.758 635.504L154.081 602.917L148.08 601.236C147.859 601.174 147.56 601.131 147.33 601.121C146.861 601.087 135.092 600.298 134.545 575.287ZM306.011 586.003L274.882 592.637L273.351 636.014L408.02 601.621L425.28 597.329C425.076 596.056 424.866 594.38 424.683 592.545C423.85 584.433 423.958 570.22 428.996 560.998L412.666 564.57L306.011 586.003Z"
      fill="#FAFAFA"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M439.117 559.361C429.461 565.373 429.656 583.279 431.039 593.675C465.711 603.52 453.262 606.733 453.21 606.727L437.26 610.599L273.931 650.028L135.732 607.519C130.724 603.106 124.997 594.139 123.95 575.88C122.021 542.332 143.615 539.245 143.615 539.245L332.183 513.028L448.639 548.118C452.927 552.886 447.464 556.43 439.569 558.955C439.52 558.999 439.473 559.046 439.426 559.093C439.33 559.19 439.233 559.286 439.117 559.361ZM134.58 574.265C134.389 565.342 135.979 558.888 139.193 555.608C141.239 553.514 143.652 553.078 145.308 553.078C146.024 553.078 146.576 553.159 146.776 553.189C146.82 553.195 146.847 553.199 146.855 553.199L228.104 579.688L268.641 592.904L267.311 634.024L153.59 602.141L147.589 600.46C147.368 600.398 147.069 600.355 146.839 600.345C146.37 600.311 135.127 599.277 134.58 574.265ZM306.569 586.809L275.248 593.246L273.931 634.08L407.529 600.845L424.79 596.554C424.585 595.28 424.375 593.604 424.192 591.769C423.359 583.657 423.147 571.036 428.186 561.813L412.416 565.057L306.569 586.809Z"
      fill="#FFD600"
    />
    <path
      d="M412.098 562.187L290.942 585.349L178.942 546.397L300.098 523.235L412.098 562.187Z"
      fill="#FFD600"
    />
    <path
      d="M308.402 542.543C310.032 541.071 311.317 539.565 306.361 537.841C302.198 536.393 297.776 536.062 294.68 536.654C290.974 537.362 291.917 538.399 294.339 540.404L295.692 541.499C299.613 544.654 300.266 547.127 291.465 548.809C283.354 550.36 271.442 549.544 262.473 546.424C256.086 544.203 253.89 542.15 256.846 539.8L270.076 541.486C268.471 542.72 269.022 543.618 271.906 544.621C274.849 545.644 278.722 545.908 281.347 545.407C284.591 544.786 284.037 543.886 281.738 542.004L280.385 540.909C275.779 537.187 274.981 534.744 284.014 533.017C293.747 531.156 306.187 532.608 315.726 535.925C325.056 539.17 325.289 541.981 321.969 544.205L308.402 542.543V542.543ZM344.723 555.026C346.198 553.896 346.151 552.616 342.71 551.419C339.419 550.274 336.117 549.884 330.648 550.93L295.012 557.743L284.642 554.136L322.002 546.994C333.334 544.828 344.566 545.955 353.438 549.041C361.456 551.829 361.366 554.965 358.266 556.829L344.723 555.026V555.026Z"
      fill="#000001"
    />
    <path
      d="M706.803 689.089L720.825 699.029L604.251 700.54L650.712 649.33L677.531 668.34L666.866 680.292L693.832 679.895L706.803 689.089Z"
      fill="#C4C4C4"
      fill-opacity="0.4"
    />
    <path
      d="M650.712 649.33L604.251 700.54L720.825 699.029L706.803 689.089L636.858 689.996L664.56 659.146L650.712 649.33Z"
      fill="#C4C4C4"
      fill-opacity="0.4"
    />
    <path
      d="M664.562 659.145L636.624 690.072L706.806 689.089L693.835 679.894L666.869 680.291L677.533 668.339L664.562 659.145Z"
      fill="#C4C4C4"
      fill-opacity="0.4"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M818.271 640.292C818.413 633.661 817.625 628.319 815.237 625.882C813.717 624.325 811.537 623.606 810.307 623.606C809.775 623.606 809.318 623.584 809.17 623.606C809.137 623.611 808.888 623.606 808.79 623.606L748.497 643.704L718.16 653.564L718.539 685.038L803.754 660.823L808.213 659.574C808.377 659.528 808.599 659.496 808.771 659.489C809.119 659.464 817.864 658.877 818.271 640.292ZM690.857 648.255L713.989 653.185L715.126 685.417L615.056 659.86L602.229 656.671C602.381 655.725 602.537 654.479 602.673 653.116C603.293 647.088 603.212 636.527 599.468 629.674L611.603 632.328L690.857 648.255Z"
      fill="#FAFAFA"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M591.947 628.457C599.123 632.925 598.978 646.231 597.95 653.956C572.186 661.272 581.436 663.659 581.475 663.655L593.328 666.532L714.694 695.831L817.388 664.243C821.11 660.964 825.365 654.3 826.143 640.732C827.577 615.803 811.531 613.51 811.531 613.51L671.409 594.028L584.872 620.103C581.685 623.646 585.745 626.279 591.611 628.155C591.648 628.189 591.683 628.223 591.717 628.258C591.789 628.33 591.861 628.402 591.947 628.457ZM818.244 639.532C818.386 632.902 817.205 628.106 814.816 625.669C813.296 624.112 811.503 623.788 810.273 623.788C809.741 623.788 809.33 623.849 809.182 623.871C809.149 623.876 809.129 623.879 809.123 623.879L748.748 643.562L718.626 653.383L719.614 683.938L804.118 660.247L808.578 658.998C808.741 658.952 808.964 658.92 809.135 658.912C809.483 658.887 817.838 658.118 818.244 639.532ZM690.442 648.853L713.716 653.637L714.694 683.98L615.42 659.284L602.594 656.095C602.746 655.148 602.902 653.903 603.038 652.539C603.657 646.511 603.814 637.133 600.07 630.28L611.788 632.69L690.442 648.853Z"
      fill="#484C89"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M700.909 628.281C700.049 628.19 699.467 628.082 699.448 627.955C699.436 627.874 699.611 627.78 699.761 627.732C699.825 627.712 699.878 627.694 699.899 627.689C699.904 627.688 699.934 627.678 699.946 627.674L709.852 625.655L714.804 624.635L718.755 625.108L705.287 628.023L704.584 628.176C704.559 628.182 704.527 628.19 704.506 628.196C704.46 628.209 703.319 628.536 700.909 628.281ZM717.459 623.51L715.264 624.469L719.22 624.982L728.178 620.772L729.338 620.234C729.199 620.226 729.022 620.214 728.832 620.199C727.991 620.135 726.659 619.978 726.245 619.734L725.102 620.239L717.459 623.51Z"
      fill="#FAFAFA"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M727.008 619.428C726.701 619.769 728.408 619.957 729.515 620.03C733.586 619.148 732.761 619.538 732.756 619.539L731.676 620.036L720.595 625.118L704.059 628.596C703.188 628.691 701.823 628.757 700.005 628.589C696.664 628.281 698.329 627.632 698.329 627.632L712.944 621.974L726.81 619.035C727.649 618.965 727.488 619.159 727.011 619.411C727.011 619.413 727.011 619.415 727.011 619.417C727.011 619.42 727.012 619.424 727.008 619.428ZM700.816 628.269C699.956 628.178 699.491 628.063 699.473 627.935C699.461 627.854 699.638 627.781 699.788 627.734C699.853 627.713 699.911 627.698 699.932 627.693C699.936 627.692 699.939 627.691 699.94 627.691L709.803 625.662L714.724 624.65L718.485 625.133L705.17 628.029L704.467 628.182C704.441 628.187 704.41 628.195 704.388 628.202C704.343 628.215 703.226 628.524 700.816 628.269ZM717.586 623.503L715.355 624.465L719.09 624.945L728.061 620.778L729.22 620.239C729.081 620.231 728.904 620.219 728.714 620.204C727.873 620.14 726.663 620.01 726.249 619.766L725.126 620.251L717.586 623.503Z"
      fill="#673AB7"
    />
    <g clip-path="url(#clip1)">
      <path
        d="M675.061 636.643C662.829 635.24 671.014 628.41 693.341 621.389C715.669 614.367 743.686 609.812 755.918 611.215C768.15 612.618 759.966 619.448 737.638 626.469C715.311 633.491 687.293 638.046 675.061 636.643Z"
        fill="url(#fish-articles11_radial)"
      />
      <path
        d="M694.986 621.577C716.441 614.83 743.015 610.413 754.339 611.712C765.663 613.011 757.449 619.534 735.994 626.281C714.538 633.028 687.965 637.445 676.641 636.146C665.317 634.847 673.53 628.324 694.986 621.577Z"
        fill="#777BB3"
      />
      <path
        d="M694.485 629.444C696.249 628.889 697.905 628.514 699.406 628.328C700.892 628.145 702.606 628.097 704.502 628.186C706.274 628.27 707.211 628.423 707.286 628.641C707.363 628.863 706.577 629.236 704.951 629.747L702.132 630.634L692.193 630.164L694.485 629.444ZM674.946 631.16C674.815 631.201 674.752 631.247 674.774 631.286C674.796 631.324 674.9 631.35 675.059 631.358L701.398 632.601C701.652 632.613 701.988 632.574 702.198 632.508L711.125 629.701C713.931 628.818 715.226 628.071 714.974 627.478C714.72 626.883 712.929 626.502 709.649 626.348C708.313 626.285 706.906 626.278 705.467 626.329C704.027 626.379 702.495 626.489 700.913 626.654C699.003 626.85 697.224 627.116 695.633 627.444C694.066 627.767 692.361 628.216 690.568 628.78L686.953 629.917L680.389 629.607C680.134 629.595 679.799 629.634 679.589 629.7L674.946 631.16Z"
        fill="black"
      />
      <path
        d="M702.036 630.467L704.494 629.694C706.457 629.077 706.69 628.811 706.654 628.708C706.595 628.536 705.732 628.406 704.158 628.332C702.396 628.249 700.829 628.29 699.5 628.454C698.14 628.622 696.607 628.972 694.942 629.496L693.182 630.049L702.036 630.467ZM711.582 629.753L702.655 632.56C702.235 632.693 701.564 632.77 701.054 632.746L674.716 631.503C674.398 631.488 674.189 631.435 674.144 631.359C674.101 631.282 674.227 631.19 674.489 631.108L679.132 629.648C679.552 629.516 680.223 629.438 680.732 629.462L686.857 629.751L690.111 628.728C691.951 628.149 693.708 627.686 695.335 627.351C697.006 627.007 698.872 626.728 700.879 626.522C702.526 626.35 704.124 626.236 705.627 626.183C707.131 626.13 708.6 626.136 709.992 626.202C713.445 626.365 715.333 626.771 715.605 627.409C715.874 628.04 714.52 628.829 711.582 629.753ZM691.204 630.279L694.028 629.391C695.9 628.803 697.661 628.406 699.312 628.202C700.963 627.998 702.807 627.945 704.846 628.041C706.803 628.133 707.827 628.311 707.918 628.573C708.008 628.836 707.172 629.245 705.408 629.799L702.227 630.8L691.204 630.279V630.279ZM710.669 629.648C713.354 628.804 714.58 628.103 714.343 627.548C714.106 626.992 712.428 626.64 709.305 626.493C708.019 626.432 706.686 626.426 705.307 626.475C703.926 626.523 702.476 626.627 700.953 626.786C699.122 626.974 697.448 627.224 695.932 627.536C694.414 627.849 692.779 628.281 691.025 628.832L687.048 630.083L680.045 629.752L675.403 631.212L701.741 632.456L710.669 629.648"
        fill="white"
      />
      <path
        d="M711.98 622.047C711.849 622.088 711.786 622.134 711.808 622.172C711.83 622.21 711.934 622.237 712.093 622.244L723.747 622.795C724.855 622.847 725.482 622.937 725.513 623.049C725.532 623.118 725.359 623.297 723.987 623.728L720.667 624.772L706.018 624.08C705.763 624.068 705.427 624.107 705.217 624.173L700.611 625.622C700.48 625.663 700.417 625.709 700.439 625.747C700.461 625.786 700.566 625.812 700.724 625.82L727.063 627.063C727.317 627.075 727.653 627.036 727.863 626.97L732.469 625.521C732.6 625.48 732.663 625.434 732.641 625.396C732.619 625.357 732.515 625.331 732.356 625.323L725.999 625.023L729.57 623.9C732.29 623.045 733.636 622.407 733.683 621.952C733.729 621.487 732.395 621.187 729.716 621.061L717.46 620.482C717.205 620.47 716.869 620.509 716.659 620.575L711.98 622.047Z"
        fill="black"
      />
      <path
        d="M732.926 625.574L728.32 627.022C727.9 627.154 727.229 627.232 726.719 627.208L700.381 625.965C700.063 625.95 699.854 625.897 699.81 625.82C699.766 625.744 699.892 625.652 700.154 625.569L704.76 624.121C705.18 623.989 705.852 623.911 706.361 623.935L720.572 624.606L723.53 623.675C724.899 623.245 724.882 623.12 724.881 623.115C724.871 623.078 724.549 622.994 723.403 622.94L711.75 622.39C711.432 622.375 711.223 622.322 711.179 622.245C711.135 622.169 711.261 622.076 711.523 621.994L716.202 620.523C716.622 620.391 717.294 620.313 717.803 620.337L730.059 620.915C732.936 621.051 734.368 621.381 734.316 621.897C734.265 622.389 732.862 623.061 730.027 623.953L726.988 624.908L732.699 625.178C733.017 625.193 733.226 625.246 733.27 625.323C733.314 625.399 733.188 625.491 732.926 625.574ZM732.012 625.469L725.01 625.138L729.113 623.848C731.695 623.036 733.007 622.422 733.049 622.006C733.091 621.59 731.865 621.324 729.372 621.206L717.116 620.627L712.437 622.099L724.09 622.649C725.416 622.712 726.101 622.823 726.145 622.984C726.189 623.144 725.622 623.41 724.444 623.78L720.763 624.938L705.674 624.226L701.068 625.674L727.406 626.917L732.012 625.469Z"
        fill="white"
      />
      <path
        d="M730.721 618.048C732.486 617.493 734.142 617.118 735.643 616.933C737.128 616.749 738.843 616.701 740.739 616.791C742.511 616.875 743.448 617.028 743.523 617.245C743.599 617.468 742.814 617.84 741.188 618.351L738.368 619.238L728.43 618.769L730.721 618.048ZM711.183 619.765C711.052 619.806 710.989 619.852 711.011 619.89C711.033 619.928 711.137 619.955 711.296 619.962L737.634 621.206C737.889 621.218 738.225 621.179 738.435 621.113L747.362 618.305C750.168 617.423 751.463 616.675 751.211 616.083C750.957 615.487 749.165 615.107 745.886 614.952C744.549 614.889 743.143 614.883 741.704 614.933C740.264 614.984 738.732 615.093 737.15 615.259C735.24 615.455 733.461 615.721 731.87 616.049C730.302 616.371 728.598 616.821 726.804 617.385L723.189 618.522L716.626 618.212C716.371 618.2 716.036 618.239 715.825 618.305L711.183 619.765Z"
        fill="black"
      />
      <path
        d="M738.274 619.072L740.731 618.299C742.694 617.682 742.927 617.416 742.891 617.313C742.832 617.141 741.969 617.011 740.396 616.936C738.633 616.853 737.066 616.894 735.738 617.058C734.378 617.226 732.844 617.577 731.179 618.101L729.419 618.654L738.274 619.072ZM747.819 618.357L738.892 621.165C738.472 621.297 737.801 621.375 737.291 621.351L710.953 620.108C710.635 620.093 710.426 620.04 710.382 619.963C710.338 619.887 710.464 619.795 710.726 619.712L715.369 618.252C715.789 618.12 716.46 618.042 716.97 618.066L723.095 618.355L726.348 617.332C728.188 616.754 729.946 616.291 731.572 615.956C733.243 615.612 735.109 615.332 737.117 615.126C738.764 614.954 740.361 614.84 741.864 614.787C743.368 614.734 744.837 614.741 746.229 614.807C749.682 614.97 751.57 615.376 751.842 616.013C752.111 616.645 750.758 617.433 747.819 618.357ZM727.441 618.884L730.265 617.996C732.137 617.407 733.898 617.011 735.549 616.807C737.2 616.603 739.044 616.549 741.083 616.645C743.04 616.738 744.064 616.915 744.155 617.178C744.245 617.441 743.409 617.849 741.645 618.404L738.464 619.404L727.441 618.884ZM746.906 618.253C749.591 617.408 750.817 616.708 750.58 616.152C750.343 615.596 748.665 615.245 745.542 615.098C744.256 615.037 742.923 615.031 741.544 615.079C740.164 615.128 738.713 615.231 737.19 615.391C735.359 615.579 733.686 615.829 732.169 616.141C730.651 616.453 729.016 616.885 727.262 617.437L723.285 618.688L716.283 618.357L711.64 619.817L737.978 621.06L746.906 618.253"
        fill="white"
      />
    </g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M741.756 597.476C741.849 593.112 741.331 589.596 739.759 587.992C738.759 586.968 737.324 586.495 736.515 586.495C736.164 586.495 735.864 586.48 735.766 586.495C735.744 586.498 735.58 586.495 735.516 586.495L695.835 599.722L675.869 606.211L676.119 626.925L732.201 610.988L735.136 610.166C735.244 610.136 735.39 610.115 735.503 610.11C735.732 610.093 741.488 609.708 741.756 597.476ZM657.9 602.717L673.124 605.961L673.873 627.175L608.013 610.355L599.571 608.256C599.671 607.633 599.774 606.813 599.863 605.916C600.271 601.949 600.218 594.998 597.754 590.488L605.74 592.235L657.9 602.717Z"
      fill="#FAFAFA"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M592.804 589.687C597.527 592.628 597.431 601.385 596.755 606.469C579.799 611.283 585.887 612.855 585.912 612.852L593.713 614.746L673.588 634.028L741.175 613.239C743.624 611.081 746.425 606.695 746.937 597.766C747.88 581.359 737.32 579.85 737.32 579.85L645.101 567.028L588.148 584.189C586.05 586.521 588.722 588.254 592.583 589.489C592.607 589.51 592.63 589.533 592.653 589.556C592.7 589.604 592.747 589.651 592.804 589.687ZM741.738 596.976C741.832 592.612 741.054 589.456 739.482 587.852C738.482 586.828 737.302 586.615 736.492 586.615C736.142 586.615 735.872 586.654 735.774 586.669C735.752 586.672 735.739 586.674 735.735 586.674L696 599.628L676.176 606.091L676.826 626.201L732.441 610.609L735.376 609.787C735.484 609.757 735.63 609.736 735.743 609.731C735.972 609.714 741.471 609.208 741.738 596.976ZM657.627 603.111L672.945 606.259L673.588 626.229L608.253 609.975L599.811 607.876C599.911 607.253 600.014 606.434 600.103 605.536C600.511 601.569 600.614 595.397 598.15 590.887L605.862 592.473L657.627 603.111Z"
      fill="#BC1F1F"
    />
    <g clip-path="url(#clip2)">
      <path
        d="M645.255 595.925L689.288 591.121C690.639 590.974 691.963 590.686 692.862 590.339C693.761 589.991 694.234 589.583 694.168 589.234L693.701 586.789L682.626 587.998C682.395 588.237 682.024 588.455 681.382 588.704C679.199 589.548 675.687 589.931 673.277 589.588C672.569 589.487 672.13 589.357 671.82 589.176L661.014 590.355C660.784 590.594 660.412 590.813 659.77 591.062C657.587 591.906 654.076 592.289 651.666 591.946C649.257 591.603 649.083 590.695 651.266 589.85C653.449 589.006 656.961 588.623 659.371 588.966C660.079 589.067 660.518 589.197 660.828 589.378L671.633 588.199C671.762 588.149 671.749 588.079 671.877 588.029L657.137 585.93C655.029 586.445 652.443 586.62 650.6 586.358C648.191 586.015 648.017 585.107 650.2 584.262C652.383 583.418 655.895 583.035 658.305 583.378C660.147 583.641 660.679 584.26 659.705 584.937L674.587 587.056C676.695 586.541 679.281 586.366 681.124 586.628C681.832 586.729 682.271 586.86 682.581 587.04L693.657 585.831L691.996 577.849C691.929 577.499 691.322 577.209 690.33 577.068C689.338 576.926 687.961 576.934 686.61 577.081L642.577 581.886C641.226 582.033 639.902 582.32 639.004 582.668C638.105 583.015 637.631 583.423 637.698 583.773L639.87 595.158C639.936 595.507 640.543 595.797 641.535 595.939C642.527 596.08 643.905 596.072 645.255 595.925V595.925Z"
        fill="#F4511E"
      />
    </g>
    <path
      d="M665.648 681.136L672.251 693.264L605.06 700.605L639.237 632.624L651.865 655.819L643.991 671.677L659.54 669.918L665.648 681.136Z"
      fill="#41B883"
    />
    <path
      d="M639.237 632.624L605.06 700.605L672.251 693.264L665.648 681.136L625.334 685.541L645.757 644.6L639.237 632.624Z"
      fill="#41B883"
    />
    <path
      d="M645.757 644.6L625.186 685.65L665.648 681.136L659.54 669.917L643.991 671.677L651.864 655.819L645.757 644.6Z"
      fill="#35495E"
    />
    <path
      d="M316.136 554.246C324.187 553.021 337.006 554.024 344.768 556.486L377.104 566.744C384.866 569.206 384.632 572.195 376.581 573.42L349.619 577.522C332.307 580.155 304.742 577.998 288.051 572.703V572.703C271.359 567.408 271.862 560.981 289.174 558.347L316.136 554.246Z"
      fill="#C4C4C4"
      fill-opacity="0.4"
    />
    <path
      d="M341.802 556.938L374.138 567.195C380.321 569.156 380.134 571.537 373.722 572.513L346.76 576.614C331.086 578.999 306.129 577.046 291.017 572.252C275.904 567.458 276.36 561.639 292.034 559.255L318.996 555.153C325.409 554.177 335.619 554.976 341.802 556.938Z"
      stroke="#C4C4C4"
      stroke-opacity="0.4"
      stroke-width="6"
    />
    <path
      d="M464.828 710.028L407.328 690.528L396.799 622.853L363.557 622.853C346.516 622.853 332.898 637.03 333.581 654.057L335.828 710.028L416.328 726.028L464.828 710.028Z"
      fill="#C4C4C4"
      fill-opacity="0.4"
    />
    <path
      d="M455.371 709.989L406.365 693.369L404.643 692.786L404.364 690.989L394.23 625.853L363.557 625.853C348.22 625.853 335.963 638.612 336.579 653.936L338.731 707.546L416.138 722.932L455.371 709.989Z"
      stroke="#C4C4C4"
      stroke-opacity="0.4"
      stroke-width="6"
    />
    <path
      d="M366.353 622.847C366.353 622.847 371.09 607.283 371.015 598.334C370.943 589.836 366.363 575.613 366.363 575.613"
      stroke="#C4C4C4"
      stroke-opacity="0.4"
      stroke-width="8"
      stroke-linecap="round"
    />
    <path
      d="M418.072 569.823L393.586 504.132C391.271 497.922 384.36 494.764 378.15 497.079L350.777 507.282C326.427 516.358 314.045 543.455 323.121 567.806C332.197 592.156 359.295 604.538 383.645 595.461L411.018 585.258C417.228 582.943 420.386 576.033 418.072 569.823Z"
      fill="url(#fish-articles12_linear)"
      fill-opacity="0.2"
    />
    <path
      d="M418.072 569.823L393.586 504.132C391.271 497.922 384.36 494.764 378.15 497.079L350.777 507.282C326.427 516.358 314.045 543.455 323.121 567.806C332.197 592.156 359.295 604.538 383.645 595.461L411.018 585.258C417.228 582.943 420.386 576.033 418.072 569.823Z"
      fill="url(#fish-articles13_linear)"
    />
    <path
      d="M418.072 569.823L393.586 504.132C391.271 497.922 384.36 494.764 378.15 497.079L350.777 507.282C326.427 516.358 314.045 543.455 323.121 567.806C332.197 592.156 359.295 604.538 383.645 595.461L411.018 585.258C417.228 582.943 420.386 576.033 418.072 569.823Z"
      stroke="#3F3D56"
      stroke-width="6"
    />
    <path
      d="M464.981 695.673L440.496 629.982C438.181 623.772 431.27 620.614 425.06 622.929L397.686 633.132C373.336 642.208 360.954 669.306 370.031 693.656C379.107 718.006 406.204 730.388 430.554 721.311L457.928 711.108C464.138 708.793 467.296 701.883 464.981 695.673Z"
      fill="url(#fish-articles14_linear)"
      fill-opacity="0.2"
    />
    <path
      d="M464.981 695.673L440.496 629.982C438.181 623.772 431.27 620.614 425.06 622.929L397.686 633.132C373.336 642.208 360.954 669.306 370.031 693.656C379.107 718.006 406.204 730.388 430.554 721.311L457.928 711.108C464.138 708.793 467.296 701.883 464.981 695.673Z"
      fill="url(#fish-articles15_linear)"
    />
    <path
      d="M464.981 695.673L440.496 629.982C438.181 623.772 431.27 620.614 425.06 622.929L397.686 633.132C373.336 642.208 360.954 669.306 370.031 693.656C379.107 718.006 406.204 730.388 430.554 721.311L457.928 711.108C464.138 708.793 467.296 701.883 464.981 695.673Z"
      stroke="#3F3D56"
      stroke-width="6"
    />
    <path
      d="M404.846 627.262C404.846 627.262 406.218 615.162 403.954 609.343C401.804 603.818 393.337 596.385 393.337 596.385"
      stroke="#3F3D56"
      stroke-width="8"
      stroke-linecap="round"
    />
    <defs>
      <linearGradient
        id="fish-articles0_linear"
        x1="626.431"
        y1="379.005"
        x2="619.899"
        y2="417.342"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.291647" stop-color="#0041E9" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="fish-articles1_linear"
        x1="347.907"
        y1="260.529"
        x2="281.907"
        y2="153.029"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#0041E9" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <radialGradient
        id="fish-articles2_radial"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(-106.5 -88.8908) rotate(163.0478) scale(264.756)"
      >
        <stop offset="0.821385" stop-color="#009DE9" />
        <stop offset="1" stop-color="#0285c4" stop-opacity="0.65" />
      </radialGradient>
      <linearGradient
        id="fish-articles3_linear"
        x1="416.693"
        y1="388.704"
        x2="442.483"
        y2="419.747"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.291647" stop-color="#0041E9" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <radialGradient
        id="fish-articles4_radial"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(45 45) rotate(90) scale(45)"
      >
        <stop stop-color="white" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </radialGradient>
      <radialGradient
        id="fish-articles5_radial"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(45 45) rotate(90) scale(45)"
      >
        <stop stop-color="white" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </radialGradient>
      <linearGradient
        id="fish-articles6_linear"
        x1="494.853"
        y1="52.5539"
        x2="566.723"
        y2="54.7396"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.291647" stop-color="#0041E9" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="fish-articles7_linear"
        x1="278.875"
        y1="521.981"
        x2="271.318"
        y2="515.04"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.387" stop-color="#D1D3D4" stop-opacity="0" />
        <stop offset="1" stop-color="#D1D3D4" />
      </linearGradient>
      <linearGradient
        id="fish-articles8_linear"
        x1="291.391"
        y1="500.789"
        x2="283.535"
        y2="493.574"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.387" stop-color="#D1D3D4" stop-opacity="0" />
        <stop offset="1" stop-color="#D1D3D4" />
      </linearGradient>
      <linearGradient
        id="fish-articles9_linear"
        x1="272.406"
        y1="535.791"
        x2="291.149"
        y2="538.105"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#E8E7E5" />
        <stop offset="1" stop-color="white" />
      </linearGradient>
      <linearGradient
        id="fish-articles10_linear"
        x1="275.136"
        y1="506.578"
        x2="295.486"
        y2="509.09"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#E8E7E5" />
        <stop offset="1" stop-color="white" />
      </linearGradient>
      <radialGradient
        id="fish-articles11_radial"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(713.697 630.657) rotate(-17.4569) scale(55.6513 22.6354)"
      >
        <stop stop-color="#AEB2D5" />
        <stop offset="0.3" stop-color="#AEB2D5" />
        <stop offset="0.75" stop-color="#484C89" />
        <stop offset="1" stop-color="#484C89" />
      </radialGradient>
      <linearGradient
        id="fish-articles12_linear"
        x1="408.64"
        y1="535.929"
        x2="320.31"
        y2="568.853"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#E8F8FF" />
        <stop offset="1" stop-color="#C4C4C4" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="fish-articles13_linear"
        x1="415.537"
        y1="578.318"
        x2="356.154"
        y2="563.505"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="fish-articles14_linear"
        x1="455.549"
        y1="661.779"
        x2="367.22"
        y2="694.703"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#E8F8FF" />
        <stop offset="1" stop-color="#C4C4C4" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="fish-articles15_linear"
        x1="462.446"
        y1="704.168"
        x2="403.063"
        y2="689.356"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <clipPath id="clip0">
        <rect
          width="90.1934"
          height="117.702"
          fill="white"
          transform="matrix(0.676454 -0.736485 -0.122513 0.992467 262.485 479.662)"
        />
      </clipPath>
      <clipPath id="clip1">
        <rect
          width="87.2132"
          height="47.0398"
          fill="white"
          transform="matrix(0.953943 -0.299988 -0.993486 -0.11395 697.258 639.691)"
        />
      </clipPath>
      <clipPath id="clip2">
        <rect
          width="52.3168"
          height="54.4019"
          fill="white"
          transform="matrix(-0.932679 0.360708 -0.990008 -0.141011 717.259 580.903)"
        />
      </clipPath>
    </defs>
  </svg>
</template>

<script>
export default {
  name: 'FishArticleBooks',
  props: {
    width: {
      type: [Number, String],
      default: 945,
    },
    height: {
      type: [Number, String],
      default: 728,
    },
  },
  data() {
    return {
      flyList: false,
    }
  },
}
</script>

<style>
.fish-articles .flying-list {
  animation: flying-list 4s linear infinite;
}

.fish-articles .flying-list:nth-child(2) {
  animation-delay: 0.3s;
}

.fish-articles .flying-list:nth-child(3) {
  animation-delay: 0.5s;
}

.fish-articles .flying-list:nth-child(4) {
  animation-delay: 0.7s;
}

@keyframes flying-list {
  50% {
    transform: translateY(-3rem);
  }
}
</style>
