:root {
  /**
 *
 * DEFAULT
 *
 */

  --px: 0.25rem;
  --font-size-root: 1rem;

  /**
 *
 * COLORS
 *
 */

  /* Base */
  --primary: hsl(199, 91%, 43%);
  --secondary: hsl(227, 12%, 30%);
  --accent: hsl(223, 100%, 45%);
  --info: hsl(236, 69%, 58%);
  --success: hsl(150, 59%, 53%);
  --warning: hsl(32, 100%, 50%);
  --error: hsl(0, 100%, 46%);

  /* Palette */
  --light: hsl(225, 40%, 98%);
  --pink: hsl(337, 72%, 56%);
  --red: hsl(354, 70%, 54%);
  --orange: hsl(27, 98%, 54%);
  --yellow: hsl(45, 100%, 51%);
  --green: hsl(134, 61%, 41%);
  --teal: hsl(162, 73%, 46%);
  --cyan: hsl(188, 78%, 41%);
  --dark: hsl(270, 3%, 23%);
  --black: hsl(225, 7%, 11%);

  /**
 *
 * SHADOWS
 *
 */

  --shadow-xs: 0 0.0625rem 0 hsla(210, 13%, 12%, 0.04);
  --shadow-sm: 0 0.1875rem 0.375rem hsla(210, 8%, 62%, 0.149);
  --shadow-md: 0 0.35em 1.125em hsla(0, 0%, 0%, 0.06);
  --shadow-lg: 00 1rem 1.875rem 0 hsl(0 0% 0% / 10%),
    0 0.3125rem 0.625rem hsl(0 0% 0% / 5%);
  --shadow-xl: 0 1.85em 2.5em 0 hsla(226, 8%, 16%, 0.2);

  /**
 *
 * ANIMATION
 *
 */

  --base-time: 250ms;
  --cubic-default: cubic-bezier(0.4, 0, 0.2, 1);
  --cubic: cubic-bezier(0.18, 0.89, 0.29, 1.05);

  /**
   *
   * THEMES
   *
   */

  /* Dark - assets/css/theme/dark */
  /* Light - assets/css/theme/light */
}
